{varType array $blacklist}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Důvod</th>
            <th>Den ukončení trestu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$blacklist as $blUser">
            <td>
                {$iterator}
            </td>
            <td>
                {$blUser['email']}
            </td>
            <td>
                {$blUser['reason']}
            </td>
            <td>
                {$blUser['endDate']|date:'d.m.Y'}
            </td>
            <td>
                <button type="button" class="btn button-color-blue"
                        data-set-user-free="{$blUser['id']}"
                        title="Odebrat studenta z blacklistu">
                    <i class="fa fa-user-shield"></i>
                </button>
                <button type="button" class="btn button-color-red"
                        data-my-delete data-delete-id="{$blUser['id']}"
                        data-delete-url="deleteFromBlackList"
                        data-delete-place="blacklist-table">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>