{varType array $serverUsers}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Počítač</th>
        <th>
            Uživatelské jméno
            <br>
            Heslo
        </th>
        <th>Je funkční</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$serverUsers as $users">
        <td>
            {if is_null($users['computer'])}
                Základní
            {else}
                {$users['computerName']} ({$users['computer']})
            {/if}
        </td>
        <td>
            {$users['userName']}
            <br>
            {if !is_null($users['endDT']) && $users['endDT'] > $users['now']}
                {$users['currentPassword']}
            {else}
                {$users['password']}
            {/if}
        </td>
        <td>
            {if $users['state']}
                <button type="button" class="btn button-color-green" data-change-state="0" data-change-state-pc="{$users['computer']}"
                        title="Je rozbitý">
                    <span class="fa fa-screwdriver-wrench"></span>
                </button>
            {else}
                <button type="button" class="btn button-color-red" data-change-state="1" data-change-state-pc="{$users['computer']}"
                        title="Je opravený">
                    <span class="fa fa-screwdriver-wrench"></span>
                </button>
            {/if}
        </td>
        <td>
            <button type="button" class="btn button-color-blue"
                    data-edit-password-id="{$users['passwordID']}"
                    data-edit-users-name="{$users['userName']}"
                    data-edit-users-password="{$users['currentPassword'] ?? $users['password']}"
                    data-edit-users-computer="{$users['computer']}">
                <i class="fa fa-pencil-alt"></i>
            </button>
            <button type="button" class="btn button-color-blue"
                    data-logout=""
                    data-users-name="{$users['userName']}"
                    data-users-computer="{$users['stationID']}">
                <i class="fa fa-arrow-right-from-bracket"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>