{varType array $cronLog}


<table class="table table-hover sticky">
    <thead>
        <tr>
            <th class="sticky-head">#</th>
            <th class="sticky-head">Datum</th>
            <th class="sticky-head">Funkce</th>
            <th class="sticky-head">Popis</th>
        </tr>
    </thead>
    <tbody>
        {foreach $cronLog as $data}
            <tr>
                <td class="align-middle">{$iterator}</td>
                <td class="align-middle">{$data['createDate']|date:'Y-m-d H:i'}</td>
                <td class="align-middle">{$data['function']}</td>
                <td class="align-middle">{$data['statement']}</td>
            </tr>
        {/foreach}
    </tbody>
</table>


{include ../../sharedAssets/latte/pagination.latte}