{varType array $reportData}

<table class="table table-hover">
    <thead>
        <tr>
            <th class="sticky-head">#</th>
            <th class="sticky-head">Osoba</th>
            <th class="sticky-head">Kontaktní údaje</th>
            <th class="sticky-head">Od-Do</th>
            <th class="sticky-head">Počet h</th>
            <th class="sticky-head">Počítač</th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$reportData as $data">
            <td>{$iterator}</td>
            <td class="align-middle">
                {$data['firstName']} {$data['secondName']}
            </td>
            <td class="align-middle">
                <strong>Email:</strong> {$data['email']}
                <br/>
                <strong>Telefon:</strong> {$data['phone']}
            </td>
            <td class="align-middle">
                {$data['timeFrom']}<br>
                {$data['timeTo']}
            </td>
            <td class="align-middle">
                {$data['timeCount']}h
            </td>
            <td class="align-middle">
                {$data['FK_computerID']}
            </td>
        </tr>
    </tbody>
</table>


{include ../../sharedAssets/latte/pagination.latte}