<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Client</th>
            <th>Název</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$allGames as $game">
            <td>
                {$iterator}
            </td>
            <td>
                {$game['client']}
            </td>
            <td>
                {$game['name']}
            </td>
            <td>
                <button type="button" class="btn button-color-green"
                        data-edit-game="{$game['id']}"
                        data-edit-game-data="{$game['json']}">
                    <i class="fa fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn button-color-red"
                        data-my-delete data-delete-id="{$game['id']}"
                        data-delete-url="deleteGame"
                        data-delete-place="allGameData">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>