<table class="table table-hover">
    <thead>
        <tr>
            <th>Typ</th>
            <th>Nadpis</th>
            <th>Text</th>
            <th>URL</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$allInformation as $information">
            <td>
                {$information['type']}
            </td>
            <td>
                {$information['header']}
            </td>
            <td>
                {$information['text']}
            </td>
            <td>
                <a href="{$information['url']}" target="_blank" n:if="$information['url'] != ''">
                    URL
                </a>
            </td>
            <td>
                <button type="button" class="btn button-color-green"
                        data-edit-information="{$information['id']}"
                        data-edit-information-data="{$information['json']}">
                    <i class="fa fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn button-color-red"
                        data-my-delete data-delete-id="{$information['id']}"
                        data-delete-url="deleteInformation"
                        data-delete-place="allInformationData">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>