{varType array $otReservation}
{varType string $searchString}

<form class="form-inline justify-content-center" method="post" action="{\Classes\StaticFunctions::getCurrentURL()}/admin/setMainFilters">
    <label class="sr-only" for="searchString">Jméno/Email</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="searchString" name="searchString"
           placeholder="Jméno/Email" n:attr="value => $searchString && !is_null($searchString) ? $searchString: ''">

    <button type="submit" class="btn btn-primary mb-2">Vyhledat</button>
    &nbsp;
    <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/deleteFilters" class="btn btn-danger mb-2" title="Smazat filtry" n:ifset="$searchString"><span class="fa fa-x"></span></a>

</form>

<br>

<div class="accordion" id="pcTables">
    <div class="card" n:foreach="$otReservation as $pcID => $reservationArray">
        <div class="card-header" id="pc-heading-{$pcID}">
            <h2 class="mb-0">
                <button class="btn button-color-green" type="button" data-toggle="collapse" data-target="#pc-collapse-{$pcID}"
                        aria-expanded="true" aria-controls="pc-collapse-{$pcID}">
                    Počítač {$pcID}
                </button>
            </h2>
        </div>

        <div id="pc-collapse-{$pcID}" n:class="'collapse', $iterator->first ? 'show'" aria-labelledby="headingOne" data-parent="#pcTables">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
{*                            <th>Počítač</th>*}
                            <th>Kdo</th>
                            <th>Údaje</th>
                            <th>Kdy</th>
                            <th n:if="\Classes\UserData::getPermission() == \Classes\Login\Manager::GOD"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr n:foreach="$reservationArray as $resData">
{*                            <td class="align-middle">*}
{*                                {$resData['computerName']}*}
{*                            </td>*}
                            <td class="align-middle">
                                {$resData['firstName']} {$resData['secondName']}
                            </td>
                            <td class="align-middle">
                                {$resData['email']}
                                <br/>
                                {$resData['phone']}
                            </td>
                            <td class="align-middle">
                                {$resData['date']}
                                <br/>
                                {$resData['from']} - {$resData['to']}
                            </td>
                            <td n:if="\Classes\UserData::getPermission() == \Classes\Login\Manager::GOD">
                                <button type="button" class="btn button-color-red"
                                        data-my-delete data-delete-id="{$resData['reservationID']}"
                                        data-delete-type="0"
                                        data-delete-url="deleteReservationData"
                                        data-delete-place="allReservations">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <button type="button" class="btn button-color-blue"
                                        data-password-id="{$resData['hashKey']}">
                                    <i class="fa fa-question-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

