
<small class="float-left text-left">
    <span class="badge rounded-pill bg-danger  pl-0 pr-0 pt-5 pb-5">&nbsp;</span> Obsazený termín
    <br>
    <br>
    <span class="badge rounded-pill bg-success  pl-0 pr-0 pt-5 pb-5">&nbsp;</span> Volný termín
</small>
<div class="clearfix"></div>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Kdo</th>
            <th>Údaje</th>
            <th>Kdy</th>
            <th>Důvod</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$allReservationAsk as $request">
            <td class="align-middle">
                {if $request['acceptable']}
                    <span class="badge rounded-pill bg-success  pl-0 pr-0 pt-10 pb-10">&nbsp;</span>
                {else}
                    <span class="badge rounded-pill bg-danger  pl-0 pr-0 pt-10 pb-10">&nbsp;</span>
                {/if}
                {$iterator}
            </td>
            <td class="align-middle">
                {$request['name']}
            </td>
            <td class="align-middle">
                {$request['email']}
                <br/>
                {$request['phone']}
            </td>
            <td class="align-middle">
                {$request['dateWhen']|date: 'd.m.Y'}
                <br/>
                {$request['timeFrom']|date: '%H:%I'} - {$request['timeTo']|date: '%H:%I'}
            </td>
            <td class="align-middle">{$request['reason']}</td>
            <td class="align-middle">
                <button type="button" class="btn button-color-green" data-accept-reservation="{$request['id']}">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" class="btn button-color-red" data-denny-reservation="{$request['id']}">
                    <i class="fa fa-xmark"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>