{varType array $otReservation}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Počítač</th>
            <th>Kdo</th>
            <th>Údaje</th>
            <th>Kdy</th>
            <th n:if="\Classes\UserData::getPermission() == \Classes\Login\Manager::GOD"></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$otReservation as $resData">
            <td class="align-middle">
                {$resData['computerName']}
            </td>
            <td class="align-middle">
                {$resData['firstName']} {$resData['secondName']}
            </td>
            <td class="align-middle">
                {$resData['email']}
                <br/>
                {$resData['phone']}
            </td>
            <td class="align-middle">
                {$resData['date']}
                <br/>
                {$resData['from']} - {$resData['to']}
            </td>
            <td n:if="\Classes\UserData::getPermission() == \Classes\Login\Manager::GOD">
                {if $resData['confirmed'] == 0}
                    <button type="button" class="btn button-color-green" data-accept-reservation="{$resData['reservationID']}">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="btn button-color-red" data-denny-reservation="{$resData['reservationID']}"
                            data-delete-reservation-type="1">
                        <i class="fa fa-xmark"></i>
                    </button>
                {else}
                    <button type="button" class="btn button-color-red"
                            data-my-delete data-delete-id="{$resData['reservationID']}"
                            data-delete-type="1"
                            data-delete-url="deleteReservationData"
                            data-delete-place="allReservations">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn button-color-blue"
                            data-password-id="{$resData['hashKey']}">
                        <i class="fa fa-question-circle"></i>
                    </button>
                {/if}
            </td>
        </tr>
    </tbody>
</table>