{varType array $userRules}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Údaje</th>
            <th>Data</th>
            <th>Hodiny</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$userRules as $data">
            <td class="align-middle">
                {$data['firstName']} {$data['secondName']}
                <br>
                {$data['email']}
            </td>
            <td class="align-middle">
                {$data['date']}
            </td>
            <td class="align-middle">
                <label>
                    <input type="number" class="form-control" id="count-{$data['id']}" value="{$data['myCount']}" min="0" max="{$data['hours']}">
                </label>
                <br>
                Maximum hodin: {$data['hours']}
            </td>
            <td >
                <button type="button" class="btn button-color-red">
                    <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn button-color-green" data-change-count="{$data['id']}">
                    <i class="fa fa-pen"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


{include ../../sharedAssets/latte/pagination.latte}