{varType array $members}

<table class="table table-hover" n:if="count($members) > 0">
    <thead>
        <tr>
            <th class="align-middle">#</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Údaje</th>
            <th class="align-middle">
                <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-addTeamMember"
                        n:if="\Classes\UserData::getTeam()->isLeader() && count($members) < 10">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$members as $member">
            <td class="align-middle">
                {$iterator}
            </td>
            <td class="align-middle">
                {$member['email']}
            </td>
            <td class="align-middle">
                {$member['firstName']} {$member['secondName']}
                <br>
                ({$member['userName']})
            </td>
            <td class="align-middle">
                {if \Classes\UserData::getTeam()->isLeader()}
                    <button type="button" class="btn button-color-red"
                            data-my-delete data-delete-id="{$member['id']}"
                            data-delete-url="removeMember"
                            data-delete-place="team-table"
                            data-delete-function="refreshSelect"
                        n:if="$member['id'] != \Classes\UserData::getUserID()">
                        <i class="fa fa-trash"></i>
                    </button>
                {elseif \Classes\UserData::getUserID() == $member['id']}
                    <button type="button" class="btn button-color-red"
                            data-my-delete data-delete-id="{$member['id']}"
                            data-delete-url="removeMember"
                            data-delete-place="team-table">
                        <i class="fa fa-arrow-right-from-bracket"></i>
                    </button>
                {/if}
            </td>
        </tr>
    </tbody>
</table>