{varType array $otReservation}

<div class="accordion" id="pcTables">
    <div class="card" n:foreach="$otReservation as $pcID => $reservationArray">
        <div class="card-header" id="pc-heading-{$pcID}">
            <h2 class="mb-0">
                <button class="btn button-color-green" type="button" data-toggle="collapse" data-target="#pc-collapse-{$pcID}"
                        aria-expanded="true" aria-controls="pc-collapse-{$pcID}">
                    Počítač {$pcID}
                </button>
            </h2>
        </div>

        <div id="pc-collapse-{$pcID}" n:class="'collapse', $iterator->first ? 'show'" aria-labelledby="headingOne" data-parent="#pcTables">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
{*                            <th>Počítač</th>*}
                            <th>Kdo</th>
                            <th>Údaje</th>
                            <th>Kdy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr n:foreach="$reservationArray as $resData">
{*                            <td class="align-middle">*}
{*                                {$resData['computerName']}*}
{*                            </td>*}
                            <td class="align-middle">
                                {$resData['firstName']} {$resData['secondName']}
                            </td>
                            <td class="align-middle">
                                {$resData['email']}
                                <br/>
                                {$resData['phone']}
                                <br>
                                <strong>{$resData['hashKey']}</strong>
                            </td>
                            <td class="align-middle">
                                {$resData['date']}
                                <br/>
                                {$resData['from']} - {$resData['to']}
                            </td>
                            <td>
{*                                <button type="button" class="btn button-color-red"*}
{*                                        data-my-delete data-delete-id="{$resData['reservationID']}"*}
{*                                        data-delete-url="deleteReservationData"*}
{*                                        data-delete-type="0"*}
{*                                        data-delete-place="userReservations">*}
{*                                    <i class="fa fa-trash"></i>*}
{*                                </button>*}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

