{varType array $users}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Uživatelské jméno</th>
            <th>Údaje</th>
            <th>Oprávnění</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$users as $data">
            <td class="align-middle">
                {$data['userName']}
            </td>
            <td class="align-middle">
                {$data['firstName']} {$data['secondName']}
                                                            <br>
                                                            {$data['email']}
            </td>
            <td class="align-middle">
                {\Classes\Login\Manager::PERMISSION_DICTIONARY[$data['permission']]}
            </td>
            <td >
                <button type="button" class="btn button-color-red">
                    <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn button-color-green" data-change-password="{$data['id']}">
                    <i class="fa fa-pen"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


{include ../../sharedAssets/latte/pagination.latte}