@blue : #00AFF0;
@blueAlfa : rgba(0, 175, 240, 0.7);


.form-input{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.form-input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.form-input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.form-fim{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.form-input{
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.form-input:focus{
  outline: none;
}

.form-input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.form-input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.form-input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.form-input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.form-label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.form-input:focus ~ .form-label-wrap::after{
  opacity: 1;
}

.form-label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.form-input:focus ~ .form-label-wrap .form-label,
.form-input:not(:placeholder-shown) ~ .form-label-wrap .form-label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}

.form-fim-v2 .form-label-wrap{
  overflow: hidden;
}

.form-fim-v2 .form-label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transform: translate3d(-105%, 0, 0);
  will-change: transform, opacity;
  transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.form-fim-v2 .form-input:focus ~ .form-label-wrap::after{
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
}

.form-fim{
  --fieldBorderColor: @blue ;
  --fieldBorderColorActive: @blueAlfa;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-container{
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  margin: auto;
  padding: 1rem;

  display: grid;
  grid-gap: 30px;
}