 /deep/ .fc-scroller.fc-day-grid-container {
  overflow: auto !important;
  height: auto !important;
}
.w-250px {
  width: 250px !important;
}
.w-249px {
  width: 249px !important;
}
.w-248px {
  width: 248px !important;
}
.w-247px {
  width: 247px !important;
}
.w-246px {
  width: 246px !important;
}
.w-245px {
  width: 245px !important;
}
.w-244px {
  width: 244px !important;
}
.w-243px {
  width: 243px !important;
}
.w-242px {
  width: 242px !important;
}
.w-241px {
  width: 241px !important;
}
.w-240px {
  width: 240px !important;
}
.w-239px {
  width: 239px !important;
}
.w-238px {
  width: 238px !important;
}
.w-237px {
  width: 237px !important;
}
.w-236px {
  width: 236px !important;
}
.w-235px {
  width: 235px !important;
}
.w-234px {
  width: 234px !important;
}
.w-233px {
  width: 233px !important;
}
.w-232px {
  width: 232px !important;
}
.w-231px {
  width: 231px !important;
}
.w-230px {
  width: 230px !important;
}
.w-229px {
  width: 229px !important;
}
.w-228px {
  width: 228px !important;
}
.w-227px {
  width: 227px !important;
}
.w-226px {
  width: 226px !important;
}
.w-225px {
  width: 225px !important;
}
.w-224px {
  width: 224px !important;
}
.w-223px {
  width: 223px !important;
}
.w-222px {
  width: 222px !important;
}
.w-221px {
  width: 221px !important;
}
.w-220px {
  width: 220px !important;
}
.w-219px {
  width: 219px !important;
}
.w-218px {
  width: 218px !important;
}
.w-217px {
  width: 217px !important;
}
.w-216px {
  width: 216px !important;
}
.w-215px {
  width: 215px !important;
}
.w-214px {
  width: 214px !important;
}
.w-213px {
  width: 213px !important;
}
.w-212px {
  width: 212px !important;
}
.w-211px {
  width: 211px !important;
}
.w-210px {
  width: 210px !important;
}
.w-209px {
  width: 209px !important;
}
.w-208px {
  width: 208px !important;
}
.w-207px {
  width: 207px !important;
}
.w-206px {
  width: 206px !important;
}
.w-205px {
  width: 205px !important;
}
.w-204px {
  width: 204px !important;
}
.w-203px {
  width: 203px !important;
}
.w-202px {
  width: 202px !important;
}
.w-201px {
  width: 201px !important;
}
.w-200px {
  width: 200px !important;
}
.w-199px {
  width: 199px !important;
}
.w-198px {
  width: 198px !important;
}
.w-197px {
  width: 197px !important;
}
.w-196px {
  width: 196px !important;
}
.w-195px {
  width: 195px !important;
}
.w-194px {
  width: 194px !important;
}
.w-193px {
  width: 193px !important;
}
.w-192px {
  width: 192px !important;
}
.w-191px {
  width: 191px !important;
}
.w-190px {
  width: 190px !important;
}
.w-189px {
  width: 189px !important;
}
.w-188px {
  width: 188px !important;
}
.w-187px {
  width: 187px !important;
}
.w-186px {
  width: 186px !important;
}
.w-185px {
  width: 185px !important;
}
.w-184px {
  width: 184px !important;
}
.w-183px {
  width: 183px !important;
}
.w-182px {
  width: 182px !important;
}
.w-181px {
  width: 181px !important;
}
.w-180px {
  width: 180px !important;
}
.w-179px {
  width: 179px !important;
}
.w-178px {
  width: 178px !important;
}
.w-177px {
  width: 177px !important;
}
.w-176px {
  width: 176px !important;
}
.w-175px {
  width: 175px !important;
}
.w-174px {
  width: 174px !important;
}
.w-173px {
  width: 173px !important;
}
.w-172px {
  width: 172px !important;
}
.w-171px {
  width: 171px !important;
}
.w-170px {
  width: 170px !important;
}
.w-169px {
  width: 169px !important;
}
.w-168px {
  width: 168px !important;
}
.w-167px {
  width: 167px !important;
}
.w-166px {
  width: 166px !important;
}
.w-165px {
  width: 165px !important;
}
.w-164px {
  width: 164px !important;
}
.w-163px {
  width: 163px !important;
}
.w-162px {
  width: 162px !important;
}
.w-161px {
  width: 161px !important;
}
.w-160px {
  width: 160px !important;
}
.w-159px {
  width: 159px !important;
}
.w-158px {
  width: 158px !important;
}
.w-157px {
  width: 157px !important;
}
.w-156px {
  width: 156px !important;
}
.w-155px {
  width: 155px !important;
}
.w-154px {
  width: 154px !important;
}
.w-153px {
  width: 153px !important;
}
.w-152px {
  width: 152px !important;
}
.w-151px {
  width: 151px !important;
}
.w-150px {
  width: 150px !important;
}
.w-149px {
  width: 149px !important;
}
.w-148px {
  width: 148px !important;
}
.w-147px {
  width: 147px !important;
}
.w-146px {
  width: 146px !important;
}
.w-145px {
  width: 145px !important;
}
.w-144px {
  width: 144px !important;
}
.w-143px {
  width: 143px !important;
}
.w-142px {
  width: 142px !important;
}
.w-141px {
  width: 141px !important;
}
.w-140px {
  width: 140px !important;
}
.w-139px {
  width: 139px !important;
}
.w-138px {
  width: 138px !important;
}
.w-137px {
  width: 137px !important;
}
.w-136px {
  width: 136px !important;
}
.w-135px {
  width: 135px !important;
}
.w-134px {
  width: 134px !important;
}
.w-133px {
  width: 133px !important;
}
.w-132px {
  width: 132px !important;
}
.w-131px {
  width: 131px !important;
}
.w-130px {
  width: 130px !important;
}
.w-129px {
  width: 129px !important;
}
.w-128px {
  width: 128px !important;
}
.w-127px {
  width: 127px !important;
}
.w-126px {
  width: 126px !important;
}
.w-125px {
  width: 125px !important;
}
.w-124px {
  width: 124px !important;
}
.w-123px {
  width: 123px !important;
}
.w-122px {
  width: 122px !important;
}
.w-121px {
  width: 121px !important;
}
.w-120px {
  width: 120px !important;
}
.w-119px {
  width: 119px !important;
}
.w-118px {
  width: 118px !important;
}
.w-117px {
  width: 117px !important;
}
.w-116px {
  width: 116px !important;
}
.w-115px {
  width: 115px !important;
}
.w-114px {
  width: 114px !important;
}
.w-113px {
  width: 113px !important;
}
.w-112px {
  width: 112px !important;
}
.w-111px {
  width: 111px !important;
}
.w-110px {
  width: 110px !important;
}
.w-109px {
  width: 109px !important;
}
.w-108px {
  width: 108px !important;
}
.w-107px {
  width: 107px !important;
}
.w-106px {
  width: 106px !important;
}
.w-105px {
  width: 105px !important;
}
.w-104px {
  width: 104px !important;
}
.w-103px {
  width: 103px !important;
}
.w-102px {
  width: 102px !important;
}
.w-101px {
  width: 101px !important;
}
.w-100px {
  width: 100px !important;
}
.w-99px {
  width: 99px !important;
}
.w-98px {
  width: 98px !important;
}
.w-97px {
  width: 97px !important;
}
.w-96px {
  width: 96px !important;
}
.w-95px {
  width: 95px !important;
}
.w-94px {
  width: 94px !important;
}
.w-93px {
  width: 93px !important;
}
.w-92px {
  width: 92px !important;
}
.w-91px {
  width: 91px !important;
}
.w-90px {
  width: 90px !important;
}
.w-89px {
  width: 89px !important;
}
.w-88px {
  width: 88px !important;
}
.w-87px {
  width: 87px !important;
}
.w-86px {
  width: 86px !important;
}
.w-85px {
  width: 85px !important;
}
.w-84px {
  width: 84px !important;
}
.w-83px {
  width: 83px !important;
}
.w-82px {
  width: 82px !important;
}
.w-81px {
  width: 81px !important;
}
.w-80px {
  width: 80px !important;
}
.w-79px {
  width: 79px !important;
}
.w-78px {
  width: 78px !important;
}
.w-77px {
  width: 77px !important;
}
.w-76px {
  width: 76px !important;
}
.w-75px {
  width: 75px !important;
}
.w-74px {
  width: 74px !important;
}
.w-73px {
  width: 73px !important;
}
.w-72px {
  width: 72px !important;
}
.w-71px {
  width: 71px !important;
}
.w-70px {
  width: 70px !important;
}
.w-69px {
  width: 69px !important;
}
.w-68px {
  width: 68px !important;
}
.w-67px {
  width: 67px !important;
}
.w-66px {
  width: 66px !important;
}
.w-65px {
  width: 65px !important;
}
.w-64px {
  width: 64px !important;
}
.w-63px {
  width: 63px !important;
}
.w-62px {
  width: 62px !important;
}
.w-61px {
  width: 61px !important;
}
.w-60px {
  width: 60px !important;
}
.w-59px {
  width: 59px !important;
}
.w-58px {
  width: 58px !important;
}
.w-57px {
  width: 57px !important;
}
.w-56px {
  width: 56px !important;
}
.w-55px {
  width: 55px !important;
}
.w-54px {
  width: 54px !important;
}
.w-53px {
  width: 53px !important;
}
.w-52px {
  width: 52px !important;
}
.w-51px {
  width: 51px !important;
}
.w-50px {
  width: 50px !important;
}
.w-49px {
  width: 49px !important;
}
.w-48px {
  width: 48px !important;
}
.w-47px {
  width: 47px !important;
}
.w-46px {
  width: 46px !important;
}
.w-45px {
  width: 45px !important;
}
.w-44px {
  width: 44px !important;
}
.w-43px {
  width: 43px !important;
}
.w-42px {
  width: 42px !important;
}
.w-41px {
  width: 41px !important;
}
.w-40px {
  width: 40px !important;
}
.w-39px {
  width: 39px !important;
}
.w-38px {
  width: 38px !important;
}
.w-37px {
  width: 37px !important;
}
.w-36px {
  width: 36px !important;
}
.w-35px {
  width: 35px !important;
}
.w-34px {
  width: 34px !important;
}
.w-33px {
  width: 33px !important;
}
.w-32px {
  width: 32px !important;
}
.w-31px {
  width: 31px !important;
}
.w-30px {
  width: 30px !important;
}
.w-29px {
  width: 29px !important;
}
.w-28px {
  width: 28px !important;
}
.w-27px {
  width: 27px !important;
}
.w-26px {
  width: 26px !important;
}
.w-25px {
  width: 25px !important;
}
.w-24px {
  width: 24px !important;
}
.w-23px {
  width: 23px !important;
}
.w-22px {
  width: 22px !important;
}
.w-21px {
  width: 21px !important;
}
.w-20px {
  width: 20px !important;
}
.w-19px {
  width: 19px !important;
}
.w-18px {
  width: 18px !important;
}
.w-17px {
  width: 17px !important;
}
.w-16px {
  width: 16px !important;
}
.w-15px {
  width: 15px !important;
}
.w-14px {
  width: 14px !important;
}
.w-13px {
  width: 13px !important;
}
.w-12px {
  width: 12px !important;
}
.w-11px {
  width: 11px !important;
}
.w-10px {
  width: 10px !important;
}
.w-9px {
  width: 9px !important;
}
.w-8px {
  width: 8px !important;
}
.w-7px {
  width: 7px !important;
}
.w-6px {
  width: 6px !important;
}
.w-5px {
  width: 5px !important;
}
.w-4px {
  width: 4px !important;
}
.w-3px {
  width: 3px !important;
}
.w-2px {
  width: 2px !important;
}
.w-1px {
  width: 1px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.ms-50 {
  margin-left: 50px !important;
}
.me-50 {
  margin-right: 50px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.mt-49 {
  margin-top: 49px !important;
}
.mb-49 {
  margin-bottom: 49px !important;
}
.ms-49 {
  margin-left: 49px !important;
}
.me-49 {
  margin-right: 49px !important;
}
.pt-49 {
  padding-top: 49px !important;
}
.pb-49 {
  padding-bottom: 49px !important;
}
.pl-49 {
  padding-left: 49px !important;
}
.pr-49 {
  padding-right: 49px !important;
}
.mt-48 {
  margin-top: 48px !important;
}
.mb-48 {
  margin-bottom: 48px !important;
}
.ms-48 {
  margin-left: 48px !important;
}
.me-48 {
  margin-right: 48px !important;
}
.pt-48 {
  padding-top: 48px !important;
}
.pb-48 {
  padding-bottom: 48px !important;
}
.pl-48 {
  padding-left: 48px !important;
}
.pr-48 {
  padding-right: 48px !important;
}
.mt-47 {
  margin-top: 47px !important;
}
.mb-47 {
  margin-bottom: 47px !important;
}
.ms-47 {
  margin-left: 47px !important;
}
.me-47 {
  margin-right: 47px !important;
}
.pt-47 {
  padding-top: 47px !important;
}
.pb-47 {
  padding-bottom: 47px !important;
}
.pl-47 {
  padding-left: 47px !important;
}
.pr-47 {
  padding-right: 47px !important;
}
.mt-46 {
  margin-top: 46px !important;
}
.mb-46 {
  margin-bottom: 46px !important;
}
.ms-46 {
  margin-left: 46px !important;
}
.me-46 {
  margin-right: 46px !important;
}
.pt-46 {
  padding-top: 46px !important;
}
.pb-46 {
  padding-bottom: 46px !important;
}
.pl-46 {
  padding-left: 46px !important;
}
.pr-46 {
  padding-right: 46px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.ms-45 {
  margin-left: 45px !important;
}
.me-45 {
  margin-right: 45px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pl-45 {
  padding-left: 45px !important;
}
.pr-45 {
  padding-right: 45px !important;
}
.mt-44 {
  margin-top: 44px !important;
}
.mb-44 {
  margin-bottom: 44px !important;
}
.ms-44 {
  margin-left: 44px !important;
}
.me-44 {
  margin-right: 44px !important;
}
.pt-44 {
  padding-top: 44px !important;
}
.pb-44 {
  padding-bottom: 44px !important;
}
.pl-44 {
  padding-left: 44px !important;
}
.pr-44 {
  padding-right: 44px !important;
}
.mt-43 {
  margin-top: 43px !important;
}
.mb-43 {
  margin-bottom: 43px !important;
}
.ms-43 {
  margin-left: 43px !important;
}
.me-43 {
  margin-right: 43px !important;
}
.pt-43 {
  padding-top: 43px !important;
}
.pb-43 {
  padding-bottom: 43px !important;
}
.pl-43 {
  padding-left: 43px !important;
}
.pr-43 {
  padding-right: 43px !important;
}
.mt-42 {
  margin-top: 42px !important;
}
.mb-42 {
  margin-bottom: 42px !important;
}
.ms-42 {
  margin-left: 42px !important;
}
.me-42 {
  margin-right: 42px !important;
}
.pt-42 {
  padding-top: 42px !important;
}
.pb-42 {
  padding-bottom: 42px !important;
}
.pl-42 {
  padding-left: 42px !important;
}
.pr-42 {
  padding-right: 42px !important;
}
.mt-41 {
  margin-top: 41px !important;
}
.mb-41 {
  margin-bottom: 41px !important;
}
.ms-41 {
  margin-left: 41px !important;
}
.me-41 {
  margin-right: 41px !important;
}
.pt-41 {
  padding-top: 41px !important;
}
.pb-41 {
  padding-bottom: 41px !important;
}
.pl-41 {
  padding-left: 41px !important;
}
.pr-41 {
  padding-right: 41px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.ms-40 {
  margin-left: 40px !important;
}
.me-40 {
  margin-right: 40px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.mt-39 {
  margin-top: 39px !important;
}
.mb-39 {
  margin-bottom: 39px !important;
}
.ms-39 {
  margin-left: 39px !important;
}
.me-39 {
  margin-right: 39px !important;
}
.pt-39 {
  padding-top: 39px !important;
}
.pb-39 {
  padding-bottom: 39px !important;
}
.pl-39 {
  padding-left: 39px !important;
}
.pr-39 {
  padding-right: 39px !important;
}
.mt-38 {
  margin-top: 38px !important;
}
.mb-38 {
  margin-bottom: 38px !important;
}
.ms-38 {
  margin-left: 38px !important;
}
.me-38 {
  margin-right: 38px !important;
}
.pt-38 {
  padding-top: 38px !important;
}
.pb-38 {
  padding-bottom: 38px !important;
}
.pl-38 {
  padding-left: 38px !important;
}
.pr-38 {
  padding-right: 38px !important;
}
.mt-37 {
  margin-top: 37px !important;
}
.mb-37 {
  margin-bottom: 37px !important;
}
.ms-37 {
  margin-left: 37px !important;
}
.me-37 {
  margin-right: 37px !important;
}
.pt-37 {
  padding-top: 37px !important;
}
.pb-37 {
  padding-bottom: 37px !important;
}
.pl-37 {
  padding-left: 37px !important;
}
.pr-37 {
  padding-right: 37px !important;
}
.mt-36 {
  margin-top: 36px !important;
}
.mb-36 {
  margin-bottom: 36px !important;
}
.ms-36 {
  margin-left: 36px !important;
}
.me-36 {
  margin-right: 36px !important;
}
.pt-36 {
  padding-top: 36px !important;
}
.pb-36 {
  padding-bottom: 36px !important;
}
.pl-36 {
  padding-left: 36px !important;
}
.pr-36 {
  padding-right: 36px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.ms-35 {
  margin-left: 35px !important;
}
.me-35 {
  margin-right: 35px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pb-35 {
  padding-bottom: 35px !important;
}
.pl-35 {
  padding-left: 35px !important;
}
.pr-35 {
  padding-right: 35px !important;
}
.mt-34 {
  margin-top: 34px !important;
}
.mb-34 {
  margin-bottom: 34px !important;
}
.ms-34 {
  margin-left: 34px !important;
}
.me-34 {
  margin-right: 34px !important;
}
.pt-34 {
  padding-top: 34px !important;
}
.pb-34 {
  padding-bottom: 34px !important;
}
.pl-34 {
  padding-left: 34px !important;
}
.pr-34 {
  padding-right: 34px !important;
}
.mt-33 {
  margin-top: 33px !important;
}
.mb-33 {
  margin-bottom: 33px !important;
}
.ms-33 {
  margin-left: 33px !important;
}
.me-33 {
  margin-right: 33px !important;
}
.pt-33 {
  padding-top: 33px !important;
}
.pb-33 {
  padding-bottom: 33px !important;
}
.pl-33 {
  padding-left: 33px !important;
}
.pr-33 {
  padding-right: 33px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.ms-32 {
  margin-left: 32px !important;
}
.me-32 {
  margin-right: 32px !important;
}
.pt-32 {
  padding-top: 32px !important;
}
.pb-32 {
  padding-bottom: 32px !important;
}
.pl-32 {
  padding-left: 32px !important;
}
.pr-32 {
  padding-right: 32px !important;
}
.mt-31 {
  margin-top: 31px !important;
}
.mb-31 {
  margin-bottom: 31px !important;
}
.ms-31 {
  margin-left: 31px !important;
}
.me-31 {
  margin-right: 31px !important;
}
.pt-31 {
  padding-top: 31px !important;
}
.pb-31 {
  padding-bottom: 31px !important;
}
.pl-31 {
  padding-left: 31px !important;
}
.pr-31 {
  padding-right: 31px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.ms-30 {
  margin-left: 30px !important;
}
.me-30 {
  margin-right: 30px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.mt-29 {
  margin-top: 29px !important;
}
.mb-29 {
  margin-bottom: 29px !important;
}
.ms-29 {
  margin-left: 29px !important;
}
.me-29 {
  margin-right: 29px !important;
}
.pt-29 {
  padding-top: 29px !important;
}
.pb-29 {
  padding-bottom: 29px !important;
}
.pl-29 {
  padding-left: 29px !important;
}
.pr-29 {
  padding-right: 29px !important;
}
.mt-28 {
  margin-top: 28px !important;
}
.mb-28 {
  margin-bottom: 28px !important;
}
.ms-28 {
  margin-left: 28px !important;
}
.me-28 {
  margin-right: 28px !important;
}
.pt-28 {
  padding-top: 28px !important;
}
.pb-28 {
  padding-bottom: 28px !important;
}
.pl-28 {
  padding-left: 28px !important;
}
.pr-28 {
  padding-right: 28px !important;
}
.mt-27 {
  margin-top: 27px !important;
}
.mb-27 {
  margin-bottom: 27px !important;
}
.ms-27 {
  margin-left: 27px !important;
}
.me-27 {
  margin-right: 27px !important;
}
.pt-27 {
  padding-top: 27px !important;
}
.pb-27 {
  padding-bottom: 27px !important;
}
.pl-27 {
  padding-left: 27px !important;
}
.pr-27 {
  padding-right: 27px !important;
}
.mt-26 {
  margin-top: 26px !important;
}
.mb-26 {
  margin-bottom: 26px !important;
}
.ms-26 {
  margin-left: 26px !important;
}
.me-26 {
  margin-right: 26px !important;
}
.pt-26 {
  padding-top: 26px !important;
}
.pb-26 {
  padding-bottom: 26px !important;
}
.pl-26 {
  padding-left: 26px !important;
}
.pr-26 {
  padding-right: 26px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.ms-25 {
  margin-left: 25px !important;
}
.me-25 {
  margin-right: 25px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.ms-24 {
  margin-left: 24px !important;
}
.me-24 {
  margin-right: 24px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pb-24 {
  padding-bottom: 24px !important;
}
.pl-24 {
  padding-left: 24px !important;
}
.pr-24 {
  padding-right: 24px !important;
}
.mt-23 {
  margin-top: 23px !important;
}
.mb-23 {
  margin-bottom: 23px !important;
}
.ms-23 {
  margin-left: 23px !important;
}
.me-23 {
  margin-right: 23px !important;
}
.pt-23 {
  padding-top: 23px !important;
}
.pb-23 {
  padding-bottom: 23px !important;
}
.pl-23 {
  padding-left: 23px !important;
}
.pr-23 {
  padding-right: 23px !important;
}
.mt-22 {
  margin-top: 22px !important;
}
.mb-22 {
  margin-bottom: 22px !important;
}
.ms-22 {
  margin-left: 22px !important;
}
.me-22 {
  margin-right: 22px !important;
}
.pt-22 {
  padding-top: 22px !important;
}
.pb-22 {
  padding-bottom: 22px !important;
}
.pl-22 {
  padding-left: 22px !important;
}
.pr-22 {
  padding-right: 22px !important;
}
.mt-21 {
  margin-top: 21px !important;
}
.mb-21 {
  margin-bottom: 21px !important;
}
.ms-21 {
  margin-left: 21px !important;
}
.me-21 {
  margin-right: 21px !important;
}
.pt-21 {
  padding-top: 21px !important;
}
.pb-21 {
  padding-bottom: 21px !important;
}
.pl-21 {
  padding-left: 21px !important;
}
.pr-21 {
  padding-right: 21px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ms-20 {
  margin-left: 20px !important;
}
.me-20 {
  margin-right: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.mt-19 {
  margin-top: 19px !important;
}
.mb-19 {
  margin-bottom: 19px !important;
}
.ms-19 {
  margin-left: 19px !important;
}
.me-19 {
  margin-right: 19px !important;
}
.pt-19 {
  padding-top: 19px !important;
}
.pb-19 {
  padding-bottom: 19px !important;
}
.pl-19 {
  padding-left: 19px !important;
}
.pr-19 {
  padding-right: 19px !important;
}
.mt-18 {
  margin-top: 18px !important;
}
.mb-18 {
  margin-bottom: 18px !important;
}
.ms-18 {
  margin-left: 18px !important;
}
.me-18 {
  margin-right: 18px !important;
}
.pt-18 {
  padding-top: 18px !important;
}
.pb-18 {
  padding-bottom: 18px !important;
}
.pl-18 {
  padding-left: 18px !important;
}
.pr-18 {
  padding-right: 18px !important;
}
.mt-17 {
  margin-top: 17px !important;
}
.mb-17 {
  margin-bottom: 17px !important;
}
.ms-17 {
  margin-left: 17px !important;
}
.me-17 {
  margin-right: 17px !important;
}
.pt-17 {
  padding-top: 17px !important;
}
.pb-17 {
  padding-bottom: 17px !important;
}
.pl-17 {
  padding-left: 17px !important;
}
.pr-17 {
  padding-right: 17px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.ms-16 {
  margin-left: 16px !important;
}
.me-16 {
  margin-right: 16px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pl-16 {
  padding-left: 16px !important;
}
.pr-16 {
  padding-right: 16px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.ms-15 {
  margin-left: 15px !important;
}
.me-15 {
  margin-right: 15px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.mt-14 {
  margin-top: 14px !important;
}
.mb-14 {
  margin-bottom: 14px !important;
}
.ms-14 {
  margin-left: 14px !important;
}
.me-14 {
  margin-right: 14px !important;
}
.pt-14 {
  padding-top: 14px !important;
}
.pb-14 {
  padding-bottom: 14px !important;
}
.pl-14 {
  padding-left: 14px !important;
}
.pr-14 {
  padding-right: 14px !important;
}
.mt-13 {
  margin-top: 13px !important;
}
.mb-13 {
  margin-bottom: 13px !important;
}
.ms-13 {
  margin-left: 13px !important;
}
.me-13 {
  margin-right: 13px !important;
}
.pt-13 {
  padding-top: 13px !important;
}
.pb-13 {
  padding-bottom: 13px !important;
}
.pl-13 {
  padding-left: 13px !important;
}
.pr-13 {
  padding-right: 13px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.ms-12 {
  margin-left: 12px !important;
}
.me-12 {
  margin-right: 12px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.pr-12 {
  padding-right: 12px !important;
}
.mt-11 {
  margin-top: 11px !important;
}
.mb-11 {
  margin-bottom: 11px !important;
}
.ms-11 {
  margin-left: 11px !important;
}
.me-11 {
  margin-right: 11px !important;
}
.pt-11 {
  padding-top: 11px !important;
}
.pb-11 {
  padding-bottom: 11px !important;
}
.pl-11 {
  padding-left: 11px !important;
}
.pr-11 {
  padding-right: 11px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.ms-10 {
  margin-left: 10px !important;
}
.me-10 {
  margin-right: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.mt-9 {
  margin-top: 9px !important;
}
.mb-9 {
  margin-bottom: 9px !important;
}
.ms-9 {
  margin-left: 9px !important;
}
.me-9 {
  margin-right: 9px !important;
}
.pt-9 {
  padding-top: 9px !important;
}
.pb-9 {
  padding-bottom: 9px !important;
}
.pl-9 {
  padding-left: 9px !important;
}
.pr-9 {
  padding-right: 9px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.ms-8 {
  margin-left: 8px !important;
}
.me-8 {
  margin-right: 8px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.pl-8 {
  padding-left: 8px !important;
}
.pr-8 {
  padding-right: 8px !important;
}
.mt-7 {
  margin-top: 7px !important;
}
.mb-7 {
  margin-bottom: 7px !important;
}
.ms-7 {
  margin-left: 7px !important;
}
.me-7 {
  margin-right: 7px !important;
}
.pt-7 {
  padding-top: 7px !important;
}
.pb-7 {
  padding-bottom: 7px !important;
}
.pl-7 {
  padding-left: 7px !important;
}
.pr-7 {
  padding-right: 7px !important;
}
.mt-6 {
  margin-top: 6px !important;
}
.mb-6 {
  margin-bottom: 6px !important;
}
.ms-6 {
  margin-left: 6px !important;
}
.me-6 {
  margin-right: 6px !important;
}
.pt-6 {
  padding-top: 6px !important;
}
.pb-6 {
  padding-bottom: 6px !important;
}
.pl-6 {
  padding-left: 6px !important;
}
.pr-6 {
  padding-right: 6px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.ms-5 {
  margin-left: 5px !important;
}
.me-5 {
  margin-right: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.mt-4 {
  margin-top: 4px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.ms-4 {
  margin-left: 4px !important;
}
.me-4 {
  margin-right: 4px !important;
}
.pt-4 {
  padding-top: 4px !important;
}
.pb-4 {
  padding-bottom: 4px !important;
}
.pl-4 {
  padding-left: 4px !important;
}
.pr-4 {
  padding-right: 4px !important;
}
.mt-3 {
  margin-top: 3px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.ms-3 {
  margin-left: 3px !important;
}
.me-3 {
  margin-right: 3px !important;
}
.pt-3 {
  padding-top: 3px !important;
}
.pb-3 {
  padding-bottom: 3px !important;
}
.pl-3 {
  padding-left: 3px !important;
}
.pr-3 {
  padding-right: 3px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.mb-2 {
  margin-bottom: 2px !important;
}
.ms-2 {
  margin-left: 2px !important;
}
.me-2 {
  margin-right: 2px !important;
}
.pt-2 {
  padding-top: 2px !important;
}
.pb-2 {
  padding-bottom: 2px !important;
}
.pl-2 {
  padding-left: 2px !important;
}
.pr-2 {
  padding-right: 2px !important;
}
.mt-1 {
  margin-top: 1px !important;
}
.mb-1 {
  margin-bottom: 1px !important;
}
.ms-1 {
  margin-left: 1px !important;
}
.me-1 {
  margin-right: 1px !important;
}
.pt-1 {
  padding-top: 1px !important;
}
.pb-1 {
  padding-bottom: 1px !important;
}
.pl-1 {
  padding-left: 1px !important;
}
.pr-1 {
  padding-right: 1px !important;
}
.button-color-green {
  color: #4CAF50;
  font-size: 25px;
  cursor: pointer;
}
.button-color-green-out {
  color: #4CAF50;
  border-color: #4CAF50;
  font-size: 25px;
  cursor: pointer;
}
.button-color-green-out.active,
.button-color-green-out:hover {
  color: #fff !important;
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
.my-bg-green {
  background-color: #4CAF50;
}
.text-color-green {
  color: #4CAF50;
}
.button-color-red {
  color: #f44336;
  font-size: 25px;
  cursor: pointer;
}
.button-color-red-out {
  color: #f44336;
  border-color: #f44336;
  font-size: 25px;
  cursor: pointer;
}
.button-color-red-out.active,
.button-color-red-out:hover {
  color: #fff !important;
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}
.my-bg-red {
  background-color: #f44336;
}
.text-color-red {
  color: #f44336;
}
.button-color-orange {
  color: #ff7700;
  font-size: 25px;
  cursor: pointer;
}
.button-color-orange-out {
  color: #ff7700;
  border-color: #ff7700;
  font-size: 25px;
  cursor: pointer;
}
.button-color-orange-out.active,
.button-color-orange-out:hover {
  color: #fff !important;
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.my-bg-orange {
  background-color: #ff7700;
}
.text-color-orange {
  color: #ff7700;
}
.button-color-black {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.button-color-black-out {
  color: #000;
  border-color: #000;
  font-size: 25px;
  cursor: pointer;
}
.button-color-black-out.active,
.button-color-black-out:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.my-bg-black {
  background-color: #000;
}
.text-color-black {
  color: #000;
}
.button-color-blue {
  color: #00AFF0;
  font-size: 25px;
  cursor: pointer;
}
.button-color-blue-out {
  color: #00AFF0;
  border-color: #00AFF0;
  font-size: 25px;
  cursor: pointer;
}
.button-color-blue-out.active,
.button-color-blue-out:hover {
  color: #fff !important;
  background-color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.my-bg-blue {
  background-color: #00AFF0;
}
.text-color-blue {
  color: #00AFF0;
}
.span_center {
  margin: auto;
  display: flex;
  justify-content: center;
}
.w100P {
  width: 100%;
}
.h-100 {
  height: 100vh !important;
}
.h-70w {
  height: 70vh !important;
}
.h-60w {
  height: 60vh !important;
}
.disabledEvent {
  pointer-events: none;
}
.btn-info {
  background-color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.btn-outline-primary {
  color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.pointer-none {
  pointer-events: none;
}
.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.separator {
  --c: #00AFF0;
  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0, conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: linear-gradient(#0000 calc(50% - var(--b)/2), var(--c) 0 calc(50% + var(--b)/2), #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.level-1 {
  --b: 6px;
  --w: 80px;
  --g: 15px;
}
.level-2 {
  --b: 4px;
  --w: 25vw;
  --g: 40px;
}
.badge-top {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
}
.hidden {
  display: none !important;
}
/*# sourceMappingURL=my.css.map */