.for (@list, @code) {
  & {
    .loop(@i:1) when (@i =< length(@list)) {
      @value: extract(@list, @i);

      @code();

      .loop(@i + 1);
    }

    .loop();
  }
}

@green : #4CAF50;
@red : #f44336;
@blue : #00AFF0;
@black : #000;
@orange : #ff7700;



/deep/ .fc-scroller.fc-day-grid-container {
  overflow: auto !important;
  height: auto !important;
}

.loopingClassWidth-250 (@index) when (@index > 0){
  .w-@{index}px{
    width: ~"@{index}px" !important;;
  }
  .loopingClassWidth-250(@index - 1);
}
.loopingClassWidth-250(250);

.loopingClassMargin-50 (@index) when (@index > 0){
  .mt-@{index}{
    margin-top: ~"@{index}px" !important;
  }
  .mb-@{index}{
    margin-bottom: ~"@{index}px" !important;;
  }
  .ms-@{index}{
    margin-left: ~"@{index}px" !important;;
  }
  .me-@{index}{
    margin-right: ~"@{index}px" !important;;
  }
  .pt-@{index}{
    padding-top: ~"@{index}px" !important;
  }
  .pb-@{index}{
    padding-bottom: ~"@{index}px" !important;;
  }
  .pl-@{index}{
    padding-left: ~"@{index}px" !important;;
  }
  .pr-@{index}{
    padding-right: ~"@{index}px" !important;;
  }
  .loopingClassMargin-50(@index - 1);
}
.loopingClassMargin-50(50);

@colors: green, red, orange, black, blue;

.for(@colors, {
    .button-color-@{value}{
      color: @@value;
      font-size: 25px;
      cursor: pointer;
    }

    .button-color-@{value}-out{
      color: @@value;
      border-color: @@value;
      font-size: 25px;
      cursor: pointer;
    }

    .button-color-@{value}-out.active,
    .button-color-@{value}-out:hover{
      color:#fff !important;
      background-color:@@value !important;
      border-color:@@value !important
    }

    .my-bg-@{value}{
      background-color: @@value;
    }

    .text-color-@{value}{
      color: @@value;
    }
  }
);

.span_center{
  margin: auto;
  display: flex;
  justify-content: center;
}

.w100P{
  width: 100%;
}

.h-100{
  height: 100vh !important;
}

.h-70w{
  height: 70vh !important;
}

.h-60w{
  height: 60vh !important;
}

.disabledEvent{
  pointer-events: none;
}

.btn-info{
  background-color: @blue !important;
  border-color: @blue !important;
}

.btn-outline-primary {
  color: @blue !important;
  border-color: @blue !important;
}

.btn-outline-primary:hover{
  color:#fff !important;
  background-color:@blue !important;
  border-color:@blue !important
}

.pointer-none{
  pointer-events: none;
}

.margin-lr-auto{
  margin-left: auto;
  margin-right: auto;
}

.separator {
  --c: @blue;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background:
          conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
          conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image:
          linear-gradient(
                  #0000      calc(50% - var(--b)/2),
                  var(--c) 0 calc(50% + var(--b)/2),
                  #0000    0)
            1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.level-1 {
  --b: 6px;
  --w: 80px;
  --g: 15px;
}

.level-2 {
  --b:4px;
  --w: 25vw;
  --g: 40px;
}

.badge-top{
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
}

.hidden{
  display: none !important;
}