.button-color-green {
  color: #4CAF50;
  font-size: 25px;
  cursor: pointer;
}
.button-color-red {
  color: #f44336;
  font-size: 25px;
  cursor: pointer;
}
.button-color-black {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.button-color-blue {
  color: #12bbd4;
  font-size: 25px;
  cursor: pointer;
}
.span_center {
  margin: auto;
  display: flex;
  justify-content: center;
}
.w100P {
  width: 100%;
}
.disabledEvent {
  pointer-events: none;
}
/*# sourceMappingURL=shared.css.map */