{extends ../admin/@layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Administrace uživatel</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete spravovat uživatele</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>


                                    <div id="userTable">
                                        {include ../admin/tables/usersTable.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-change-password]', function ()
                                            {
                                                $('#m_userID').val($(this).data('change-password'))
                                                $('#modal-edit-user-data').modal('show');
                                            }
                                        );
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  