<!DOCTYPE html>
<html lang="cz">
    <head>
        <title>Esport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/images/favicon.ico"/>

        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/my.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/fonts/font-awesome-6/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/animate.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/css/util.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/css/main.css">

        {ifset block head}
            {include head}
        {/ifset}

        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/jquery-3.2.1.min.js"></script>
        <!--script src="https://code.jquery.com/jquery-3.1.1.min.js"></script-->
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/bootstrap/bootstrap.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/bootstrap/bootstrap.bundle.min.js"></script>
    </head>
    <body>

        {include  '../sharedAssets/latte/modals.latte'}
        <!--section-->
        {include section}
        <!--//section-->

        {include  ../sharedAssets/latte/messages.latte}
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/popper.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/select2.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/js/tilt.jquery.min.js"></script>
        <script >
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/js/main.js"></script>
    </body>
</html>
