{extends @loginLayout.latte}


{block head}
	<link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/form.css">
{/block}

{block section}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-75" >
				<h1 style="margin: auto;">Žádost o rezervaci celé učebny</h1>
				<div class="login100-pic js-tilt" style="margin: auto" data-tilt>
					<a href="{\Classes\StaticFunctions::getCurrentURL()}/">
						<img src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/images/img-duck.png" alt="IMG" class="mt-50">
					</a>
				</div>
				<div class="clearfix"><br></div>
				<div class="row col-12 text-center m-l-10 m-t-25 m-b-25">
					<div class="col-6 text-center">
						<a class="btn btn-outline-primary" href="{\Classes\StaticFunctions::getCurrentURL()}/home/register">
							{_'Registrace'}
						</a>
					</div>
					<div class="col-6">
						<a class="btn btn-outline-primary" href="{\Classes\StaticFunctions::getCurrentURL()}/home/login">
							{_'Přihlášení'}
						</a>
					</div>
				</div>
				<div class="clearfix"><br></div>
				<form class="form-container" action="{\Classes\StaticFunctions::getCurrentURL()}/home/askForReservation" method="post" >
					<div class="row col-md-12">
						<label class="form-fim form-fim-v2">
							<input class="form-input" placeholder="e.g. von3@uhk.cz" type="email" name="email" required>
	{*							   pattern="^([a-zA-Z0-9_\-\.]+)@uhk.cz$" *}
							<span class="form-label-wrap">
							  <span class="form-label">Email</span>
							</span>
						</label>
						<div class="clearfix"> <br></div>
						<label class="form-fim form-fim-v2">
							<input class="form-input" placeholder="e.g. Jan Novák" type="text" name="name">
							<span class="form-label-wrap">
							  <span class="form-label">Jméno a příjmení</span>
							</span>
						</label>
						<div class="clearfix"> <br></div>
						<label class="col-md-6 form-fim form-fim-v2">
							<input class="form-input" placeholder="e.g. 666 555 444" type="text" name="phone">
							<span class="form-label-wrap">
							  <span class="form-label">Telefon</span>
							</span>
						</label>
						<label class="col-md-6 form-fim form-fim-v2">
							<input class="form-input" type="date" name="dateWhen">
							<span class="form-label-wrap">
							  <span class="form-label">Kdy</span>
							</span>
						</label>
						<div class="clearfix"> <br></div>
						<label class="col-md-6 form-fim form-fim-v2">
							<input class="form-input" type="time" name="timeFrom">
							<span class="form-label-wrap">
							  <span class="form-label">Od</span>
							</span>
						</label>
						<label class="col-md-6 form-fim form-fim-v2">
							<input class="form-input" type="time" name="timeTo">
							<span class="form-label-wrap">
							  <span class="form-label">Do</span>
							</span>
						</label>
						<div class="clearfix"> <br></div>
						<label class="form-fim form-fim-v2">
							<textarea class="form-input" placeholder="e.g. důvod" rows="3" style="min-height: 75px" name="reason"></textarea>
							<span class="form-label-wrap">
							  <span class="form-label">Důvod proč chcete rezervaci</span>
							</span>
						</label>
					</div>
					<button type="submit" class="btn btn-outline-primary">
						Zažádat
					</button>
				</form>
			</div>
		</div>
	</div>
{/block}