{extends @loginLayout.latte}

{block section}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/images/img-duck.png" alt="IMG">
				</div>


				<form class="login100-form validate-form" action="{\Classes\StaticFunctions::getCurrentURL()}/reservation/checkExisted"
					method="post">
					{ifset $messageKey}
						{foreach $messageKey as $type => $message}
							<div class="alert alert-{$type}" role="alert">
								{$message}
							</div>
						{/foreach}
					{/ifset}
					<span class="login100-form-title">
						{_'Kontrola rezervace'}
					</span>


					<div class="wrap-input100 validate-input" >
						<select class="input100" name="computerID" required id="m_computerID">
							<option value="">Počítač</option>
							<option n:foreach="$allComputers as $computer" value="{$computer['id']}">
								{$computer['computerName']}
							</option>
						</select>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Nutný rezervační kód">
						<input class="input100" type="text" name="hashKey" placeholder="{_'Rezervační kód'}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-code" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							{_'Zkontrolovat'}
						</button>
						<script n:ifset="$killMe">

							setTimeout(function()
								{
									window.location.href = '*closekiosk*';
									//$.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/killMe/',
									//		{},
									//		function(){}
									//);
								}, 2500
							);
						</script>
					</div>
				</form>
			</div>
		</div>
	</div>
{/block}