<!DOCTYPE html>
<html lang="cz">
<head>
    <title>Esport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/images/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/mainAssets/css/main2.css">
    <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/my.css">
    <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/fonts/font-awesome-6/css/all.min.css">

    <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/jquery-3.2.1.min.js"></script>
    <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/bootstrap/bootstrap.min.js"></script>
    <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="wrapper">

    <div class="wrap">

        <div class="arrow animated bounce"></div>

        <main class="px-3 text-center">
            <div>
                <h1 class="mt-25">Vítejte na registrační stránce pro esportovou učebnu</h1>
                <p class=" mt-50 mb-50">
                    Pro případné dotazy nebo problémy kontaktujte
                    <br>
                    <a href="mailto:daniel.vondra@uhk.cz" class="btn btn-info">Email</a>
{*                    <a href="https://m.me/denniel.vondra" target="_blank" class="btn btn-info">Messanger</a>*}
                </p>
            </div>
            <div class="clearfix"><br></div>
            <div  class="mt-50">
                <p class="lead">
                </p>
                <p class="lead mt-50 mb-50">
                    {if !is_null($toAdmin)}
                        <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin" class="btn btn-info">
                            Do administrace
                        </a>
                    {else}
                        <a href="{\Classes\StaticFunctions::getCurrentURL()}/home/login" class="btn btn-info">Přihlášení</a>
                        <a href="{\Classes\StaticFunctions::getCurrentURL()}/home/register" class="btn btn-info">Registrace</a>
                        <a href="{\Classes\StaticFunctions::getCurrentURL()}/home/register" class="btn btn-info">Jednorázová rezervace</a>
                    {/if}
                </p>
                <div class="mouse_scroll">

                    <div class="mouse">
                        <div class="wheel"></div>
                    </div>
                    <div>
                        <span class="m_scroll_arrows unu"></span>
                        <span class="m_scroll_arrows doi"></span>
                        <span class="m_scroll_arrows trei"></span>
                    </div>
                </div>
            </div>
        </main>


        <!--section class="transparent">
            <div class="headline"></div>
            <div class="text"></div>
            <div class="text"></div>
            <div class="button"></div>
        </section-->

        <section class="container mt-20 bg-transparent">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">
                <div class="col-md-12 px-0 text-center">
                    <h1 class="display-4 fst-italic  text-center">Naše esport učebna</h1>
                    <p class="lead my-3  text-center">
                        Připravili jsme pro Vás web, kde si můžete snadno rezervovat místo v esport učebně a vyzkoušet si nějakou herní pecku na našich Legionech.
                    </p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6" n:foreach="$allInformation as $information">
                    <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                        <div class="col p-4 d-flex flex-column position-static bg-light">
                            <strong class="d-inline-block mb-2 text-primary">{$information['type']}</strong>
                            <h3 class="mb-0">{$information['header']}</h3>
                            <p class="card-text mb-auto mt-10">
                                {$information['text']}
                            </p>
                            <a href="{$information['url']}" n:if="$information['url'] != ''"
                               class="stretched-link" target="_blank">
                                Více o nás
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img border rounded" width="200" height="250" alt="room1"
                                 src="{\Classes\StaticFunctions::getCurrentURL() . $images[rand(0, count($images) - 1)]}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">
                <div class="col-md-12 px-0 text-center">
                    <h1 class="display-4 fst-italic  text-center">Předinstalované hry</h1>
                </div>
            </div>
            <div class="container">
                <div class="row col-md-12">
                    {foreach $allGames as $client => $games}
                        <div class=" col-md-3">
                            <ul class="fa-ul">
                                <li>
                                    <h3>
                                        <span class="fa-li"><i class="fa fa-gamepad"></i></span>
                                        {$client}
                                        <ul class="fa-ul">
                                            {foreach $games as $name}
                                                <li>
                                                    <h3>
                                                        <span class="fa-li"><i class="fa fa-dice"></i></span>
                                                        {$name}
                                                    </h3>
                                                </li>
                                            {/foreach}
                                        </ul>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    {/foreach}
                </div>
            </div>
            <div class="clearfix"><br/><br/><br/><br/></div>

        </section>

    </div>
</div>

<footer class="footer">
    <div class="logo">
        <img src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/images/logo.png" alt="logo">
    </div>
    <nav class="">

        © 2022 UHK FIM All rights reserved. Designed by Nuimi
    </nav>
</footer>

{include ../sharedAssets/latte/messages.latte}

<script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/popper.js"></script>
<script >
    const isMobile = localStorage.mobile || window.navigator.maxTouchPoints > 1;

    if (isMobile)
    {
        $('.logo').hide();
    }
    $(document).ready(function($) {

        $(window).on('scroll', function() {

            //ADD .TIGHT
            if ($(window).scrollTop() + $(window).height() > $('.wrapper').outerHeight()) {
                $('body').addClass('tight');
                $('.arrow').hide();
            } else {
                $('body').removeClass('tight');
                $('.arrow').show();
            }
        });

        //BACK TO PRESENTATION MODE
        $("html").on("click", "body.tight .wrapper", function() {
            $('html, body').animate({
                scrollTop: $('.wrapper').outerHeight() - $(window).height()
            }, 500);
        });

    });

    $('.arrow').click(function(){
        $("html").animate({ scrollTop: $('html').prop("scrollHeight")}, 1200);
    });
</script>
</body>
</html>
