{extends @loginLayout.latte}

{block section}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<a href="{\Classes\StaticFunctions::getCurrentURL()}/">
						<img src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/images/img-duck.png" alt="IMG">
					</a>
				</div>

				<form class="login100-form validate-form" action="{\Classes\StaticFunctions::getCurrentURL()}/user/login"
					method="post">
					<span class="login100-form-title">
						{_'Přihlášení'}
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Nutný email/uživatelské jméno">
						<input class="input100" type="text" name="login" placeholder="{_'Email/Uživatelské jméno'}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Nutné heslo">
						<input class="input100" type="password" name="password" placeholder="{_'Heslo'}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							{_'Přihlásit'}
						</button>
					</div>

					<div class="text-center p-t-12">
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/user/forgottenPassword">
							{_'Zapomenuté Heslo'} ?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/register">
							{_'Vytvoření nového účtu'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
						<br>
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/askForReservation">
							{_'Reservace celé učebny'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{/block}