{varType string $email}

{extends @loginLayout.latte}

{block section}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="login100-form-title">
					{_'Obnovení hesla'}
				</span>
				<link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/form.css">
				<form class="page" action="{\Classes\StaticFunctions::getCurrentURL()}/user/renewPassword" method="post"
					id="password-renewal"
					  oninput='password2.setCustomValidity((password2.value !== "" && password2.value !== password.value) ? "Hesla se neshodují" : "")'>
					<input name="email" value="{$email}" type="hidden">
					<label class="field field_v2">
						<input class="field__input" placeholder="Ll123456" type="password" id="pass1" name="password" required
							   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{ 8,}" title="Musí obsahovat jedno malé, jedno velké písmeno, číslo a dálka minimum 8 znaků">
						<span class="field__label-wrap">
						  <span class="field__label">Heslo</span>
						</span>
					</label>
					<label class="field field_v2">
						<input class="field__input" placeholder="Ll123456" type="password" id="pass2" name="password2" required
							   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{ 8,}" title="Musí obsahovat jedno malé, jedno velké písmeno, číslo a dálka minimum 8 znaků">
						<span class="field__label-wrap">
						  <span class="field__label">Heslo znovu</span>
						</span>
					</label>
					<button type="submit" class="btn btn-outline-primary" id="button_pass_request">
						Zažádat
					</button>

					<div class="text-center p-t-136">
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/askForReservation">
							{_'Žádost o rezervaci celé učebny'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
						<br>
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/register">
							{_'Vytvoření nového účtu'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
						<br>
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/login">
							{_'Přihlášení'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{/block}