{extends @loginLayout.latte}

{block section}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="login100-form-title">
					{_'Obnovení hesla'}
				</span>
				<link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/form.css">
				<form class="page" action="{\Classes\StaticFunctions::getCurrentURL()}/user/renewPassword" method="post"
					id="password-renewal">
					<label class="field field_v2">
						<input class="field__input" placeholder="e.g. von3@uhk.cz" type="email" id="email" name="email" required>
						{*							   pattern="^([a-zA-Z0-9_\-\.]+)@uhk.cz$" *}
						<span class="field__label-wrap">
						  <span class="field__label">Email</span>
						</span>
					</label>
					<button type="submit" class="btn btn-outline-primary" id="button_pass_request">
						Zažádat
					</button>

					<div class="text-center p-t-136">
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/askForReservation">
							{_'Žádost o rezervaci celé učebny'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
						<br>
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/register">
							{_'Vytvoření nového účtu'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
						<br>
						<a class="txt2" href="{\Classes\StaticFunctions::getCurrentURL()}/home/login">
							{_'Přihlášení'}
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<script>
					var email = $('#email');
					var button = $('#button_pass_request');

					$('#password-renewal').submit(function( event )
						{
							event.preventDefault();

							if (! email.val().includes("@uhk"))
							{
								createAlert('Sakryš', 'Zadejte svůj UHK email', 'danger');
								return;
							}

							$.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/validateEmail/',
								{
									email: email.val()
								}, function(data)
								{
									if(data !== '')
									{
										createAlert('Sakryš', data, 'danger');
									}
								}
							);

							$.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/canRenewPassword/',
								{
									email: email.val()
								}, function(data)
								{
									if(data !== '')
									{
										createAlert('Sakryš', data, 'danger');
									} else {
										$('#password-renewal').unbind().submit();
									}
								}
							);
						}
					);
				</script>
			</div>
		</div>
	</div>
{/block}