{varType array $oldRegister}

{extends @loginLayout.latte}

{block head}
    <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/form.css">
{/block}

{block section}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-75" >
                <h1 style="margin: auto;">Registrace do esport učebny</h1>
                <div class="login100-pic js-tilt" style="margin: auto" data-tilt>
                    <a href="{\Classes\StaticFunctions::getCurrentURL()}/">
                        <img src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/images/img-duck.png" alt="IMG" class="mt-50">
                    </a>
                </div>
                <div class="clearfix"><br></div>
                <div class="row col-12 text-center m-l-10 m-t-25 m-b-25">
                    <div class="col-6 text-center">
                        <a class="btn btn-outline-primary" href="{\Classes\StaticFunctions::getCurrentURL()}/home/askForReservation">
                            {_'Reservaci celé učebny'}
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-primary" href="{\Classes\StaticFunctions::getCurrentURL()}/home/login">
                            {_'Přihlášení'}
                        </a>
                    </div>
                </div>
                <div class="clearfix"><br></div>
                <form class="form-container" id="registrationForm" novalidate
                      action="{\Classes\StaticFunctions::getCurrentURL()}/user/register"
                      method="post">
                    <div class="row col-md-12">
                        <div class="has-validation">
                            <label class="col-md-12 form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. von3@uhk.cz" type="email" name="email" required
                                        n:attr="value => $oldRegister['email'] ?? ''" id="email" autocomplete="off">
                                <span class="form-label-wrap">
                                  <span class="form-label">Email</span>
                                </span>
                            </label>
                        </div>
                        <div class="clearfix"> <br></div>
                        <div class="has-validation">
                            <label class="col-md-12 form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. von3" type="text" name="userName" id="userName" required
                                        n:attr="value => $oldRegister['userName'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Uživatelské jméno</span>
                                </span>
                            </label>
                        </div>
                        <div class="clearfix"> <br></div>
                        <div class="has-validation col-md-6">
                            <label class="form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. Jan" type="text" name="firstName" required
                                        n:attr="value => $oldRegister['firstName'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Jméno</span>
                                </span>
                            </label>
                        </div>
                        <div class="has-validation col-md-6">
                            <label class="form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. Novák" type="text" name="secondName" required
                                        n:attr="value => $oldRegister['secondName'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Příjmení</span>
                                </span>
                            </label>
                        </div>
                        <div class="clearfix"> <br></div>
                        <div class="has-validation">
                            <label class="col-md-12 form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. +420 123 456 789" type="text" name="phone" required
                                        n:attr="value => $oldRegister['phone'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Telefon</span>
                                </span>
                            </label>
                        </div>
                        <div class="clearfix"> <br></div>
                        <div class="has-validation col-md-6">
                            <label class="form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. Heslo+1" type="password" name="password" id="password" required
                                        n:attr="value => $oldRegister['password'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Heslo</span>
                                </span>
                            </label>
                        </div>
                        <div class="has-validation col-md-6">
                            <label class="form-fim form-fim-v2">
                                <input class="form-input form-control" placeholder="e.g. Heslo+1" type="password" name="password2" id="password2" required
                                        n:attr="value => $oldRegister['password2'] ?? ''" autocomplete="off" pattern="[A-Za-z0-9]+">
                                <span class="form-label-wrap">
                                  <span class="form-label">Heslo</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" id="register">
                        Registrovat
                    </button>
                </form>

                <script>
                    $('#registrationForm').on('submit', function( event )
                        {
                            event.preventDefault()
                            if (!this.checkValidity())
                            {
                                event.stopPropagation()
                            } else {
                                $('#modal-registrationRules')
                                    .modal({ backdrop: 'static', keyboard: false })
                                    .modal('show');

                                let timeLeft = 0;
                                let downloadTimer = setInterval(function()
                                    {
                                        $('#progressBar').css('width', timeLeft + '%');
                                        if (timeLeft >= 100)
                                        {
                                            clearInterval(downloadTimer);
                                            event.currentTarget.submit();
                                        }
                                        timeLeft++;
                                    }, 100
                                );
                            }

                            this.classList.add('was-validated')
                        }
                    );

                    let btn_register = $('#register');

                    $(document).on('focusout', '#email', function()
                        {
                            $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/validateEmail/',
                                {
                                    email: $('#email').val()
                                }, function(data)
                                {
                                    if(data !== '')
                                    {
                                        createAlert('Sakryš', data, 'danger');
                                        btn_register.attr('disabled', true);
                                    } else {
                                        btn_register.attr('disabled', false);
                                    }
                                }
                            );
                        }
                    );

                    $(document).on('focusout', '#userName', function ()
                        {
                            $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/checkExistingUsername/',
                                {
                                    username: $('#userName').val()
                                },
                                function (data)
                                {
                                    data = JSON.parse(data);
                                    if (data['alreadyExist'])
                                    {
                                        createAlert('Sakryš','Toto uživatelské jméno již existuje', 'danger');
                                        btn_register.attr('disabled', true);
                                    } else {
                                        btn_register.attr('disabled', false);
                                    }
                                }
                            );
                        }
                    );

                    $(document).on('focusout', '#password2' , function ()
                        {
                            if($('#password').val() !== $('#password2').val())
                            {
                                createAlert('Sakryš', "Nejsou shodná hesla", 'danger');
                                btn_register.attr('disabled', true);
                            } else {
                                btn_register.attr('disabled', false);
                            }
                        }
                    );
                </script>
            </div>
        </div>
    </div>
{/block}