{varType bool $select2}
{varType bool $isUnderMaintenance}
{varType array $userData}

<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Administrace</title>

        {if $select2}
            <link href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/select2.css" rel="stylesheet"/>
            <link href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/select2-bootstrap.css" rel="stylesheet"/>
        {/if}

        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/css/style-starter.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/css/style.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/css/all.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/css/animate.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/my.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/calendar/main.min.css">
        <link rel="stylesheet" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/fonts/font-awesome-6/css/all.min.css">

        <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/jquery-3.3.1.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/calendar/main.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/calendar/locales/cs.js"></script>

    </head>
    <body class="sidebar-menu-collapsed">
        {include ../sharedAssets/latte/modals.latte}

        <div class="loader hidden" id="loader-page">
            <img src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/images/Preloader_11.gif" alt="loading">
        </div>

        <div class="se-pre-con"></div>
        <section>
            <div class="sidebar-menu sticky-sidebar-menu">
                <div class="logo">
                    <h1><a href="/">Computers</a></h1>
                </div>

                <!-- if logo is image enable this -->
                <!-- image logo --
                <div class="logo">
                  <a href="index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
                  </a>
                </div>
                <-- //image logo -->

                <div class="logo-icon text-center">
                    <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/" title="logo"><img src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/images/logo.png" alt="logo-icon"> </a>
                </div>
                <!-- //logo end -->

                {include forms/menu.latte}

            </div>
            <div class="header sticky-header">
                <div class="menu-right">
                    <div class="navbar user-panel-top">
                        <div class="custom-control custom-switch" data-change-maintenance n:if="$userData['permission'] == \Classes\Login\Manager::GOD">
                            <input type="checkbox" class="custom-control-input" id="maintenance" n:attr="checked => $isUnderMaintenance ?? false">
                            <label class="custom-control-label" for="maintenance">Maintenance stránka</label>
                        </div>
                        <div class="user-dropdown-details d-flex">
                            <div class="profile_details">
                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                                           aria-expanded="false">
                                            <div class="profile_img">
                                                <i class="fa fa-user" style="font-size: 30px;"></i>
                                                <div class="user-active">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                            <li class="user-info">
                                                <h5 class="user-name">
                                                    {$userData['userName']}
                                                    <br>
                                                    <small>{$userData['email']}</small>
                                                </h5>
                                                <span class="status">{\Classes\Login\Manager::PERMISSION_DICTIONARY[$userData['permission']]}</span>
                                                <a href="{\Classes\StaticFunctions::getCurrentURL()}/user/editMe" class="btn btn-success text-center" style="color: white !important;">Uprav data</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {include body}
            {include ../sharedAssets/latte/messages.latte}
        </section>

        <footer class="dashboard">
            <p>&copy 2023 Esport. All Rights Reserved | ReDesign by Nuimi</p>
        </footer>
        <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            window.onscroll = function ()
            {
                scrollFunction()
            };

            function scrollFunction()
            {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
                {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            function topFunction()
            {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/shared.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/jquery-1.10.2.min.js"></script>

        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/jquery.nicescroll.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/scripts.js"></script>

        <script>
            var closebtns = document.getElementsByClassName("close-grid");
            var i;

            for (i = 0; i < closebtns.length; i++)
            {
                closebtns[i].addEventListener("click", function ()
                    {
                        this.parentElement.style.display = 'none';
                    }
                );
            }
            $(function ()
                {
                    $('.sidebar-menu-collapsed').click(function ()
                        {
                            $('body').toggleClass('noscroll');
                        }
                    )
                }
            );
        </script>
        {include ../sharedAssets/latte/ajax.latte}
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/modernizr.js"></script>
        <script>
            $(window).load(function ()
                {
                    $(".se-pre-con").fadeOut("slow");
                }
            );
        </script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/bootstrap.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/admin/assets/js/default.js"></script>


        {if $select2}
            <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/select2.js"></script>
        {/if}
    </body>
</html>
