{varType array $usersBlacklisted}

{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Správa černé listiny</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete spravovat uživatelské účty na černé listině</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-10 col-2 float-end text-end">
                                            <button type="button" class="btn button-color-blue" data-toggle="modal" data-target="#modal-black_list">
                                                <i class="fa fa-clipboard-question"></i>
                                            </button>
                                            <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-black_list_add">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="clearfix"><br></div>

                                    <div id="blacklist-table">
                                        {include tables/blacklist.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-set-user-free]', function()
                                            {
                                                $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/setFree',
                                                    {
                                                        id: $(this).data('set-user-free')
                                                    }, function(data)
                                                    {
                                                        $('#blacklist-table').html(data);
                                                    }
                                                )
                                            }
                                        );
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  