{varType string $events}

{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Calendar</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Úplný kalendář</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde vidíte úplný kalendář rezervací</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div >
                                        <div class="w-100 h-100" id="fullCalendar" ></div>
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function()
                                        {
                                            var calendarEl = document.getElementById('fullCalendar');
                                            let calendar = new FullCalendar.Calendar(calendarEl,
                                                {
                                                    headerToolbar: {
                                                        start: 'timeGridWeek,timeGridDay',
                                                        center: 'title',
                                                        end: 'today,prev,next'
                                                    },
                                                    initialView: 'timeGridWeek',
                                                    selectable: true,
                                                    slotMinTime: "07:00:00",
                                                    slotMaxTime: "22:00:00",
                                                    locale: 'cs',
                                                    allDaySlot: false,
                                                    selectMirror: true,
                                                    eventOverlap: false,
                                                    selectOverlap: false,
                                                    editable: false,
                                                    dayMaxEvents: true,
                                                    events: JSON.parse({$events})
                                                }
                                            );
                                            calendar.updateSize();
                                            calendar.render();
                                        }
                                    );
                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  