{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Správa servrových účtů</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete spravovat uživatelské účty pro jednotlivé počítače</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-10 col-2 float-end text-end">
                                            <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-adminAddUserToComputer">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                            <button type="button" class="btn button-color-green" data-set-password-to-all>
                                                <i class="fa fa-pen"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="clearfix"><br></div>

                                    <div id="computers-div">
                                        {include tables/computers.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-edit-password-id]', function()
                                            {
                                                $('#m_passwordID').val($(this).data('editPasswordId'));
                                                $('#m_userName').val($(this).data('editUsersName'))
                                                    .prop('disabled', true);
                                                $('#m_password').val($(this).data('editUsersPassword'));
                                                $('#m_computerID').val($(this).data('editUsersComputer'))
                                                    .prop('disabled', true)
                                                    .trigger('change');
                                                $('#modal-adminAddUserToComputer').modal('show');
                                            }
                                        );

                                        $(document).on('click', '[data-set-password-to-all]', function()
                                            {
                                                let password = window.prompt("Nové heslo pro všechny počítače:");
                                                $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/changePCPasswordAll/',
                                                    {
                                                        password: password
                                                    }, function(data)
                                                    {
                                                        $('#computers-div').html(data);
                                                    }
                                                );
                                            }
                                        );

                                        $(document).on('click', '[data-change-state]', function()
                                            {
                                                $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/changePCState/',
                                                    {
                                                        newState: $(this).data('change-state'),
                                                        pc: $(this).data('change-state-pc')
                                                    }, function(data)
                                                    {
                                                        $('#computers-div').html(data);
                                                    }
                                                );
                                            }
                                        );

                                        $(document).on('click', '[data-logout]', function()
                                            {
                                                $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/logoutPC/',
                                                    {
                                                        name: $(this).data('users-name'),
                                                        pc: $(this).data('users-computer')
                                                    }, function(data)
                                                    {
                                                        createAlert('OK', 'Počítáč byl úspěšně odhlášen', 'success');
                                                    }
                                                );
                                            }
                                        );
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  