{varType string $ajax}
{varType string $filterEmail}
{varType string $filterFrom}
{varType string $filterTo}

{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Dashboard</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Na této stránce lze prohlížet starší rezervace a pracovat s nimi</p>
                                        <footer class="blockquote-footer">
                                            <cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-10 col-2 float-end text-end">
                                            <button type="button" class="btn button-color-green" data-generate-report>
                                                <i class="fa fa-file-excel"></i>
                                            </button>

                                            <script>
                                                $(document).on('click', '[data-generate-report]', function()
                                                    {
                                                        location.href = {\Classes\StaticFunctions::getCurrentURL()} + '/admin/generateReport/';
                                                    }
                                                );
                                            </script>
                                        </div>
                                    </div>

                                    <div class="clearfix"><br></div>

                                    <form class="form-inline justify-content-center" method="post" action="{\Classes\StaticFunctions::getCurrentURL()}/admin/setDashboardFilters">
                                        <label class="sr-only" for="email">Email</label>
                                        <input type="email" class="form-control mb-2 mr-sm-2" id="email" name="email"
                                               placeholder="Email" n:attr="value => $filterEmail ?? ''">

                                        <label class="sr-only" for="dateFrom">Od</label>
                                        <input type="date" class="form-control mb-2 mr-sm-2" id="dateFrom" name="dateFrom"
                                               placeholder="Datum OD" n:attr="value => $filterFrom ?? ''">

                                        <label class="sr-only" for="dateTo">Do</label>
                                        <input type="date" class="form-control mb-2 mr-sm-2" id="dateFrom" name="dateTo"
                                               placeholder="Datum DO" n:attr="value => $filterTo ?? ''">

                                        <button type="submit" class="btn btn-primary mb-2">Nastavit</button>
                                        &nbsp;
                                        <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/deleteFiltersDashboard"
                                           class="btn btn-danger mb-2" title="Smazat filtry" n:if="$filterFrom || $filterTo || $filterEmail">
                                            <span class="fa fa-x"></span>
                                        </a>
                                    </form>

                                    <br>

                                    <div id="{$ajax}">
                                        {include tables/dashboard.latte}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  