{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Vítejte v administraci pro počítačovou učebnu</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete editovat vytvořené rezervace</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-10 col-2 float-end text-end">
                                            <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-admin-reservation">
                                                <i class="fa fa-user-plus"></i>
                                            </button>
                                            <button type="button" class="btn button-color-green hidden" data-team-modal
                                                    data-toggle="modal" data-target="#modal-team-reservation"
                                                    n:if="!is_null(\Classes\UserData::getTeam())">
                                                <i class="fa fa-people-group"></i>
                                            </button>

                                            <script>

                                                $(document).on('click', '[data-accept-reservation]', function()
                                                    {
                                                        $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/acceptReservation/',
                                                            {
                                                                reservationID: $(this).data('acceptReservation')
                                                            },
                                                            function(data)
                                                            {
                                                                $('#allReservations').html(data);
                                                            }
                                                        );
                                                    }
                                                );

                                                $(document).on('click', '[data-denny-reservation]', function()
                                                    {
                                                        let email = confirm('Odeslat email?');
                                                        $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/dennyReservation/',
                                                            {
                                                                id: $(this).data('denny-reservation'),
                                                                email: email
                                                            },
                                                            function(data)
                                                            {
                                                                $('#allReservations').html(data);
                                                            }
                                                        );
                                                    }
                                                );

                                                $(document).on('click', '[data-password-id]', function()
                                                    {
                                                        $('#show-password').html($(this).data('password-id'));
                                                        $('#modal-reservation-password').modal('show');
                                                    }
                                                );
                                            </script>
                                        </div>

                                        <div class="col-6">
                                            <button type="button" class="btn btn-outline-primary active menuButton"
                                                    data-change-reservation-data="0">
                                                Jednorázové rezervace
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" class="btn btn-outline-primary menuButton"
                                                    data-change-reservation-data="1">
                                                Rezervace učeben
                                            </button>
                                        </div>

                                        <script>
                                            $(document).on('click', '[data-change-reservation-data]',
                                                function()
                                                {
                                                    document.querySelectorAll('.menuButton').forEach(button =>
                                                        {
                                                            button.classList.remove('active');
                                                        }
                                                    );

                                                    $(this).addClass('active');
                                                    $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/changeReservationData/',
                                                        {
                                                            type: $(this).data('changeReservationData')
                                                        },
                                                        function(data)
                                                        {
                                                            $('#allReservations').html(data);
                                                        }
                                                    );
                                                }
                                            );
                                        </script>
                                    </div>

                                    <div class="clearfix"><br></div>

                                    <div id="allReservations">
                                        {include ../admin/tables/reservations.latte}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  