{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Správa informací na stránce</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete ...</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-11 col-1 float-end text-end">
                                            <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-adminAddInformation">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div id="allInformationData">
                                        {include ../admin/tables/information.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-edit-information]', function()
                                            {
                                                let data = $(this).data('editInformationData');
                                                $('#m_informationID').val($(this).data('editInformation'));
                                                $('#m_type').val(data['type']);
                                                $('#m_header').val(data['header']);
                                                $('#m_text').val(data['text']);
                                                $('#m_url').val(data['url']);
                                                $('#modal-adminAddInformation').modal('show');
                                            }
                                        );
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  