{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Správa dotazů o rezervaci celé učebny</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete spravovat žádosti o rezervaci celé učebny</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div id="allGameData">
                                        {include ../admin/tables/reservationsAsk.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-accept-reservation]', function()
                                            {
                                                let id = $(this).data('acceptReservation')
                                                window.location.href =
                                                        {\Classes\StaticFunctions::getCurrentURL()}+ "/admin/reservationAsk?accept=true&id=" + id;
                                            }
                                        );
                                        $(document).on('click', '[data-denny-reservation]', function()
                                            {
                                                let id = $(this).data('dennyReservation');
                                                let reason = window.prompt("Důvod zrušení rezervace", "V požadovaném termínu je učebna již obsazena");
                                                window.location.href =
                                                        {\Classes\StaticFunctions::getCurrentURL()}+
                                                            "/admin/reservationAsk?accept=false&id=" + id + "&reason=" + reason;
                                            }
                                        );
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  