{varType int $page}

{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Rules</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Pravidla pro hráče</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde vidíte aktuálně vytvořená pravidla a aktuální splnění per uživatel</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-11 col-1 float-end text-end">
                                            <button type="button" class="btn button-color-blue" data-toggle="modal" data-target="#modal-add-rule">
                                                <i class="fa fa-plus-circle"></i> / <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div id="rulesTable">
                                        {include tables/rulesTable.latte}
                                    </div>
                                </div>

                                <script>
                                    $(document).on('click', '[data-change-count]', function()
                                        {
                                            let count = $(this).data('changeCount');
                                            let newVal = $('#count-' + count).val();

                                            $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/rulesTable/',
                                                {
                                                    myCount : newVal,
                                                    id : count,
                                                    page : {$page}
                                                },
                                                function(data)
                                                {
                                                    $('#rulesTable').html(data);
                                                    createAlert('OK', 'Hodiny byly změněny', 'success');
                                                }
                                            );
                                        }
                                    );
                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  