
{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Team</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Správa týmu</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete spravovat členy týmu a svůj tým</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br></div>
                                    {if is_null(\Classes\UserData::getTeam())}
                                        <button type="button" class="btn button-color-green" data-toggle="modal" data-target="#modal-addTeam">
                                            <i class="fa fa-plus-circle"></i>
                                            Vytvořit team
                                        </button>
                                    {else}
                                        <h2>Název týmu: <strong>{\Classes\UserData::getTeam()->getName()}</strong></h2>

                                        <button type="button" class="btn button-color-red" data-disband-team="" n:if="\Classes\UserData::getTeam()->isLeader()">
                                            <i class="fa fa-ban"></i>
                                            Rozpustit team
                                        </button>
                                    {/if}
                                    <div class="clearfix"><br></div>

                                    <div id="team-table">
                                        {include tables/team.latte}
                                    </div>

                                    <script>
                                        $(document).on('click', '[data-disband-team]', function()
                                            {
                                                if (confirm('Opravdu chcete rozspustit team?'))
                                                {
                                                    window.location.href = "/user/disbandTeam";
                                                }
                                            }
                                        );

                                        function refreshSelect()
                                        {
                                            $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/getMemberList/',
                                                {},
                                                function(data)
                                                {
                                                    $('#addTeamMember-body').html(data);
                                                }
                                            );
                                        }
                                    </script>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{/block}
  