{extends @layout.latte}

{block body}
    <div class="main-content ">
        <div class="container-fluid content-top-gap">

            <section class="template-cards">
                <div class="card card_border height100">
                    <div class="cards__heading">
                        <h3>Administrace - <span>Home</span></h3>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-lg-12 chart-grid">
                                <div class="text-center">
                                    <h1>Vítejte v administraci pro Vaše rezervace</h1>

                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">Zde můžete editovat vytvořené rezervace</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Správce</cite>
                                        </footer>
                                    </blockquote>

                                    <div class="clearfix"><br/></div>

                                    <div class="row">
                                        <div class="offset-10 col-2 float-end text-end">
                                            <button type="button" class="btn button-color-green" data-add-reservation>
                                                <i class="fa fa-plus-circle"></i>
                                            </button>

                                            <script>
                                                $(document).on('click', '[data-add-reservation]',
                                                    function ()
                                                    {
                                                        let userDataDiv = $('#registrationData');
                                                        let pass = $('#m_password');
                                                        let un = $('#m_userName');
                                                        let computer = $('#m_computerID');
                                                        userDataDiv.hide();
                                                        pass.attr('disabled', true);
                                                        un.attr('disabled', true);
                                                        $('#calendar').show();
                                                        computer.show();
                                                        computer.attr('require', true);
                                                        $('#modal-registrationRules')
                                                            .modal({ backdrop: 'static', keyboard: false })
                                                            .modal('show');
                                                        let timeLeft = 0;
                                                        let downloadTimer = setInterval(function()
                                                            {
                                                                $('#progressBar').css('width', timeLeft + '%');
                                                                if (timeLeft >= 100)
                                                                {
                                                                    clearInterval(downloadTimer);
                                                                    $('#gotoRegister').attr('disabled', false);
                                                                }
                                                                timeLeft++;
                                                            }, 100
                                                        );
                                                    }
                                                );

                                                $(document).on('click', '[data-go-to-reservation]', function()
                                                    {
                                                        $('#modal-registrationRules').modal('hide');
                                                        $('#gotoRegister').attr('disabled', true);
                                                        $('#modal-admin-reservation').modal('show');
                                                    }
                                                );
                                            </script>
                                        </div>
                                    </div>

                                    <div class="clearfix"><br></div>

                                    <div id="userReservations">
                                        {include ../admin/tables/userReservations.latte}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        document.addEventListener('contextmenu', (e) => e.preventDefault());

        function ctrlShiftKey(e, keyCode) {
            return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
        }

        document.onkeydown = (e) => {
            if (
                e.keyCode === 123 ||
                ctrlShiftKey(e, 'I') ||
                ctrlShiftKey(e, 'J') ||
                ctrlShiftKey(e, 'C') ||
                (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
            )
                return false;
        };
    </script>
{/block}
  