<div class="w-100 h-70w" id="calendar"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            selectable: true,
            slotMinTime: "07:00:00",
            slotMaxTime: "22:00:00",
            locale: 'cs',
            allDaySlot: false,
            selectMirror: true,
            eventOverlap: false,
            selectOverlap: false,
            select: function(arg) {
                var hours = Math.abs(arg.start - arg.end) / 36e5;
                if (hours < 1)
                {
                    arg.end.setTime(arg.end.getTime() + (0.5 *60*60*1000))
                }

                var dateFrom = arg.start.getDate() + '-' + (arg.start.getMonth() + 1) + '-' + arg.start.getFullYear() + ' ' + arg.start.getHours() + ':' + arg.start.getMinutes();
                var dateTo = arg.end.getDate() + '-' + (arg.start.getMonth() + 1) + '-' + arg.end.getFullYear() + ' ' + arg.end.getHours() + ':' + arg.end.getMinutes();
                $('#m_dateFrom').val(dateFrom);
                $('#m_dateTo').val(dateTo);
                calendar.addEvent({
                    title: $('#m_firstName').val() + ' ' + $('#m_secondName').val(),
                    start: arg.start,
                    end: arg.end
                });
                calendar.unselect();
                $('#m_reservationForm').submit();
            },
            editable: false,
            dayMaxEvents: true, // allow "more" link when too many events
            {ifset $allReservations}
                events: [
                    {foreach $allReservations as $reservation}
                    {
                        title: {$reservation['title']},
                        start: {$reservation['start']},
                        end: {$reservation['end']}
                    }{sep},{/sep}
                    {/foreach}
                ]
            {/ifset}
        });
        calendar.render();
        calendar.updateSize();
    });

</script>