
{varType array $clients}
{varType array $allComputers}
{varType array $computers}
{varType array $users}
{varType array $rules}

{ifset $modal}
    {switch $modal}
        {case \Classes\DefaultClass::MODAL_RESERVATION}

            <div class="modal fade" id="modal-registrationRules" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title margin-lr-auto">Pravidla počítačové učebny</h5>
                        </div>
                        <div class="modal-body">
                            {include rules.latte}
                        </div>
                        <div class="progress" style="height: 5px">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBar"></div>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_ADMIN}

            <div class="modal fade" id="modal-registrationRules" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title margin-lr-auto">Pravidla počítačové učebny</h5>
                        </div>
                        <div class="modal-body">
                            {include rules.latte}
                            <div class="text-center"  >
                                <div class="clearfix"><br><hr><br></div>
                                <button class="btn btn-outline-primary" type="button" id="gotoRegister" data-go-to-reservation="true" disabled="true">
                                    Beru na vědomí
                                </button>
                            </div>
                        </div>
                        <div class="progress" style="height: 5px">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-reservation-password" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title margin-lr-auto">Heslo k rezervaci</h5>
                        </div>
                        <div class="modal-body">
                            <h1>Heslo: <strong><span id="show-password"></span> </strong></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-admin-reservation" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Rezervace</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{\Classes\StaticFunctions::getCurrentURL()}/reservation/createReservation"
                                  method="post" id="m_reservationForm">

                                <input type="hidden" id="m_dateFrom" name="timeFrom">
                                <input type="hidden" id="m_dateTo" name="timeTo">

                                <small n:if="Classes\StaticFunctions::isMobile()">
                                    Pro vybrání datumu podržte zažátek intervalu dokud se nezobrazí
                                </small>
                                <br>
                                <div class="" >
                                    <label for="m_computerID">Počítač</label>
                                    <select class="custom-select" name="computerID" required id="m_computerID">
                                        <option>Prosím vyberte počítač</option>
                                        {foreach $allComputers as $computer}
                                            <option n:if="$computer['state'] == 1" value="{$computer['id']}">
                                                {$computer['computerName']}
                                            </option>
                                        {/foreach}
                                    </select>
                                </div>

                                <div class="clearfix"><br></div>

                                <div id="calendarAll">
                                    <div class="w-100 h-60w" id="calendar" ></div>
                                </div>
                                <script>
                                    let maxHour = {\Classes\UserData::getPermission() == \Classes\Login\Manager::GOD ? 24 : 7};
                                    document.addEventListener('DOMContentLoaded', function()
                                        {
                                            var calendarEl = document.getElementById('calendar');
                                            let calendar = new FullCalendar.Calendar(calendarEl, {
                                                    initialView: {if Classes\StaticFunctions::isMobile()}'timeGridDay'{else}'timeGridWeek'{/if},
                                                    selectable: true,
                                                    slotMinTime: "07:00:00",
                                                    slotMaxTime: "22:00:00",
                                                    locale: 'cs',
                                                    allDaySlot: false,
                                                    selectMirror: true,
                                                    eventOverlap: false,
                                                    selectOverlap: false,
                                                    select: function(arg) {
                                                        var hours = Math.abs(arg.start - arg.end) / 36e5;
                                                        var createReservation = true;
                                                        var leftHours = 0;
                                                        if (hours < maxHour)
                                                        {
                                                            if (hours < 1)
                                                            {
                                                                arg.end.setTime(arg.end.getTime() + (0.5 *60*60*1000))
                                                            }

                                                            var dateFrom = arg.start.getDate() + '-' + (arg.start.getMonth() + 1) + '-' + arg.start.getFullYear() + ' ' + arg.start.getHours() + ':' + arg.start.getMinutes();
                                                            var dateTo = arg.end.getDate() + '-' + (arg.start.getMonth() + 1) + '-' + arg.end.getFullYear() + ' ' + arg.end.getHours() + ':' + arg.end.getMinutes();
                                                            $('#m_dateFrom').val(dateFrom);
                                                            $('#m_dateTo').val(dateTo);

                                                            $.get({\Classes\StaticFunctions::getCurrentURL()}+'/ajax/doesAlreadyHaveReservation',
                                                                {
                                                                    dateFrom: dateFrom,
                                                                    dateTo: dateTo
                                                                },
                                                                function(data)
                                                                {
                                                                    data = JSON.parse(data);
                                                                    createReservation = !data['alreadyHave'];
                                                                }
                                                            ).always(function()
                                                                {
                                                                    if (createReservation)
                                                                    {
                                                                        $.get({\Classes\StaticFunctions::getCurrentURL()}+'/ajax/checkReservationRule',
                                                                            {
                                                                                dateFrom: dateFrom,
                                                                                dateTo: dateTo
                                                                            },
                                                                            function(data)
                                                                            {
                                                                                data = JSON.parse(data);
                                                                                createReservation = data['allowed'];
                                                                                leftHours =  data['leftHours'];
                                                                            }
                                                                        ).always(function()
                                                                            {
                                                                                if (createReservation)
                                                                                {
                                                                                    calendar.addEvent(
                                                                                        {
                                                                                            title: 'Zvolená rezerevace',
                                                                                            start: arg.start,
                                                                                            end: arg.end,
                                                                                            color: '#ab0000',
                                                                                            editable: true,
                                                                                        }
                                                                                    );
                                                                                    createAlert('OK', 'Po vytvoření reservace vám zbude ještě ' + leftHours + "h", 'success');
                                                                                    $('#m_submitReservation').attr('disabled', false);
                                                                                } else {
                                                                                    createAlert('Sakryš', 'Překročil/a jste maximální povolený čas. Zbývá vám ještě ' + leftHours + 'h', 'danger');
                                                                                    $('#m_submitReservation').attr('disabled', true);
                                                                                }
                                                                            }
                                                                        );
                                                                    } else {
                                                                        createAlert('Sakryš', 'Nemůžete vytvořit více rezervací na podobný čas', 'danger');
                                                                        $('#m_submitReservation').attr('disabled', true);
                                                                    }
                                                                }
                                                            );
                                                        } else {
                                                            createAlert('Sakryš', 'Zvolte menší číslo', 'danger');
                                                            $('#m_submitReservation').attr('disabled', true);
                                                        }
                                                        calendar.unselect();
                                                    },
                                                    editable: false,
                                                    dayMaxEvents: true,
                                                    eventClick: function(info){
                                                        if (info.event.title === 'Zvolená rezerevace')
                                                        {
                                                            info.event.remove();
                                                        }
                                                    }
                                                }
                                            );
                                            calendar.updateSize();

                                            $('#m_computerID').on('change', function()
                                                {
                                                    changeCalendarData($(this).val())
                                                }
                                            );

                                            function changeCalendarData(computerID)
                                            {
                                                $.get({\Classes\StaticFunctions::getCurrentURL()}+'/ajax/generateRegistrationCalendar',
                                                    {
                                                        computerID: computerID
                                                    },
                                                    function(data)
                                                    {
                                                        $('#calendarAll').show();
                                                        calendar.removeAllEventSources();
                                                        calendar.addEventSource(JSON.parse(data));
                                                        calendar.render();
                                                    }
                                                );
                                            }
                                        }
                                    );
                                </script>
                                <br />
                                <button class="btn btn-outline-primary" type="submit" id="m_submitReservation" disabled>
                                    Dokončit proces
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-team-reservation" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Reservace team</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{\Classes\StaticFunctions::getCurrentURL()}/reservation/teamReservation"
                                  method="post" id="m_reservationForm">

                                <input type="hidden" id="m_dateFrom" name="timeFrom">
                                <input type="hidden" id="m_dateTo" name="timeTo">
                                <div id="calendarAll">
                                    <div class="w-100 h-60w" id="calendar-team" ></div>
                                </div>
                                <br />

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="m_team_date">Kdy</label>
                                        <input type="date" class="form-control" id="m_team_date" name="date" required>
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="m_team_from">Od</label>
                                        <input type="time" class="form-control" id="m_team_from" name="from" required disabled>
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="m_team_to">Do</label>
                                        <input type="time" class="form-control" id="m_team_to" name="to" required disabled>
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>
                                </div>

                                <div id="team-registration-form"></div>

                                <script>
                                    let from = $('#m_team_from');
                                    let to = $('#m_team_to');
                                    $(document).on('change', '#m_team_date', function()
                                        {
                                            let now = new Date()
                                            let hour = now.getHours();
                                            from.val(hour + ':00');
                                            to.attr('min', hour + ':00');
                                            to.val(++hour + ':00');
                                            from.attr('disabled', false)
                                            to.attr('disabled', false)
                                        }
                                    );

                                    $(document).on('change', '#m_team_from', function()
                                        {
                                            let values = $(this).val().split(':')
                                            to.attr('min', values[0] + ':00');
                                            to.attr('disabled', false);
                                        }
                                    );

                                    $(document).on('click', '[data-team-modal]', function()
                                        {
                                            let calendarTeam = $('calendar-team').fullCalendar({
                                                    // headerToolbar: {
                                                    //     left: 'prev,next',
                                                    //     center: 'title',
                                                    //     right: 'listWeek,timeGridDay'
                                                    // },
                                                    initialView: 'listDay'
                                                }
                                            );
                                            calendarTeam.updateSize();

                                            $.get({\Classes\StaticFunctions::getCurrentURL()}+'/ajax/generateRegistrationCalendar',
                                                {
                                                    computerID: 11,
                                                    pc: true
                                                },
                                                function(data)
                                                {
                                                    $('#calendarAll').show();
                                                    calendarTeam.removeAllEventSources();
                                                    calendarTeam.addEventSource(JSON.parse(data));
                                                    calendarTeam.render();
                                                }
                                            );
                                        }
                                    );

                                    function getUsers(date)
                                    {
                                        $.get({\Classes\StaticFunctions::getCurrentURL()}+'/ajax/getTeamRegistrationForm',
                                            {
                                                date: date,
                                            },
                                            function(data)
                                            {
                                                $('#team-registration-form').html(data);
                                                $('#m_submitReservation').attr('disabled', false);

                                            }
                                        );
                                    }
                                </script>
                                <button class="btn btn-outline-primary" type="submit" id="m_submitReservation" disabled="true">
                                    Dokončit proces
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_INFORMATION}
            <div class="modal fade" id="modal-adminAddInformation" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Přidání informací na web</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/information/"
                                  method="post" id="m_addInformationForm">
                                <input type="hidden" id="m_informationID" name="informationID">
                                <div class="form-group">
                                    <label for="m_type">Typ</label>
                                    <input type="text" class="form-control" id="m_type" name="type" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                    <small id="identifierHelp" class="form-text text-muted">
                                        Typ informace
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="m_header">Nadpis</label>
                                    <input type="text" class="form-control" id="m_header" name="header" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_text">Text</label>
                                    <textarea class="form-control" id="m_text" name="text" rows="3"
                                              required></textarea>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="m_url">URL</label>
                                    <input type="text" class="form-control" id="m_url" name="url">
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_GAMES}
            <div class="modal fade" id="modal-adminAddGame" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Přidání her na web</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/games/"
                                  method="post" id="m_addGameForm">
                                <input type="hidden" id="m_gameID" name="gameID">
                                <div class="form-group">
                                    <label for="m_name">Název hry</label>
                                    <input type="text" class="form-control" id="m_name" name="name" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_client">Klient</label>
                                    <select id="m_client" name="client" required  data-placeholder="Vyberte klienta" >
                                        <option></option>
                                        <option n:foreach="$clients as $client" value="{$client['client']}">
                                            {$client['client']}
                                        </option>
                                    </select>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <script>
                                    $(function()
                                    {
                                        $('#m_client').select2({
                                            theme: 'bootstrap4',
                                            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                            placeholder: $(this).data('placeholder'),
                                            closeOnSelect: !$(this).attr('multiple'),
                                            language: {
                                                noResults: function () {
                                                    var typingTimer;
                                                    var doneTypingInterval = 1000;
                                                    var $input = $('.select2-search__field');

                                                    $input.on('keyup', function () {
                                                        clearTimeout(typingTimer);
                                                        typingTimer = setTimeout(function()
                                                        {
                                                            var val = $input.val();
                                                            $('<option/>')
                                                                .val(val)
                                                                .text(val)
                                                                .appendTo('#m_client');
                                                            $('#m_client').val(val).trigger();
                                                        }, doneTypingInterval);
                                                    });

                                                    $input.on('keydown', function () {
                                                        clearTimeout(typingTimer);
                                                    });
                                                    return 'Pokud nic nenajdete automaticky se tato možnost přidá a vybere';
                                                }
                                            },
                                            dropdownParent: $('#modal-adminAddGame')
                                        });
                                    });
                                </script>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_COMPUTERS}
            <div class="modal fade" id="modal-adminAddUserToComputer" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Přidání uživatelů k počítači</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/computers/"
                                  method="post" id="m_addComputerForm">
                                <input type="hidden" id="m_passwordID" name="passwordID">
                                <div class="form-group">
                                    <label for="m_userName">Uživatelské jméno</label>
                                    <input type="text" class="form-control" id="m_userName" name="userName" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_password">Heslo</label>
                                    <input type="text" class="form-control" id="m_password" name="password" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_computerID">Počítač</label>
                                    <select id="m_computerID" name="FK_computerID" required  data-placeholder="Vyberte počítač" required>
                                        <option></option>
                                        <option value="null">Default</option>
                                        <option n:foreach="$computers as $computer" value="{$computer['id']}">
                                            {$computer['computerName']} ({$computer['id']})
                                        </option>
                                    </select>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <script>
                                    $(function()
                                    {
                                        $('#m_computerID').select2({
                                            theme: 'bootstrap4',
                                            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                            placeholder: $(this).data('placeholder'),
                                            closeOnSelect: !$(this).attr('multiple'),
                                            dropdownParent: $('#modal-adminAddUserToComputer')
                                        });
                                    });
                                </script>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_BLACK_LIST}
            <div class="modal fade" id="modal-black_list_add" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Přidání uživatele na černou listinu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/blackList/"
                                  method="post">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="m_email">Email studenta</label>
                                        <input type="email" class="form-control" id="m_email" name="email" required>
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="m_end-date">Konec platnosti</label>
                                        <input type="date" class="form-control" id="m_end-date" name="endDate" required>
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_reason">Důvod</label>
                                    <textarea class="form-control" id="m_reason" name="reason" rows="3" required></textarea>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>

                                <button class="btn btn-outline-success" type="submit">
                                    Přidat
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-black_list" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Studenti kteří byly na blacklistu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {varType array $notBlacklisted}

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Důvod</th>
                                    <th>Den ukončení trestu</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr n:foreach="$notBlacklisted as $blUser">
                                    <td>
                                        {$iterator}
                                    </td>
                                    <td>
                                        {$blUser['email']}
                                    </td>
                                    <td>
                                        {$blUser['reason']}
                                    </td>
                                    <td>
                                        {$blUser['endDate']|date:'d.m.Y'}
                                    </td>
                                    <td>
                                        <button type="button" class="btn button-color-red"
                                                data-my-delete data-delete-id="{$blUser['id']}"
                                                data-delete-url="deleteFromBlackList"
                                                data-delete-place="blacklist-table">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        {case \Classes\DefaultClass::MODAL_TEAM}
            <div class="modal fade" id="modal-addTeam" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Vytvoření teamu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/team"
                                  method="post" id="m_addTeamForm">
                                <div class="form-group">
                                    <label for="m_name">Název teamu</label>
                                    <input type="text" class="form-control" id="m_name" name="name" required>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_member">Členové</label>
                                    <select id="m_member" name="members[]" required  multiple data-placeholder="Vyberte člena týmu" >
                                        <option></option>
                                        <option n:foreach="$users as $userData" value="{$userData['id']}">
                                            {$userData['firstName']} {$userData['secondName']} <span class="hidden">({$userData['email']}, {$userData['userName']})</span>
                                        </option>
                                    </select>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <script>
                                    $(function()
                                    {
                                        $('#m_member').select2({
                                            theme: 'bootstrap4',
                                            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                            placeholder: $(this).data('placeholder'),
                                            closeOnSelect: false,
                                            templateSelection: function (data) {
                                                if (!data.id) {
                                                    return data.text;
                                                }
                                                let value = data.text.trim();
                                                let split = value.split('(');

                                                return split[0];
                                            },
                                            dropdownParent: $('#modal-addTeam')
                                        });
                                    });
                                </script>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-addTeamMember" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Přidání člena do teamu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="addTeamMember-body">
                            {include ../../admin/forms/addMember.latte}
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).on('click', '[data-add-member-to-team]', function()
                    {
                        let members = $('#m_newMember').val();
                        showLoaderPage();
                        $.get({\Classes\StaticFunctions::getCurrentURL()} + '/ajax/addMember/',
                            {
                                members: members
                            },
                            function (data)
                            {
                                data = JSON.parse(data);
                                $('#team-table').html(data['table']);
                                $('#addTeamMember-body').html(data['addMember']);
                                $('#modal-addTeamMember').modal('hide');
                                hideLoaderPage();

                                if(members.length > 0)
                                {
                                    createAlert("Skvěle", "Do týmu byl úspěšně přidán další člen", "success");
                                }
                            }
                        );
                    }
                );
            </script>
        {case \Classes\DefaultClass::MODAL_USER}
            <div class="modal fade" id="modal-edit-user-data" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Úprava uživatelských dat</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/user/editUser"
                                  method="post">
                                <input type="hidden" id="m_userID" name="userID">
                                <div class="form-group">
                                    <label for="m_password">Heslo</label>
                                    <input type="password" class="form-control" id="m_password" name="password" minlength="8">
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {case \Classes\DefaultClass::MODAL_RULE}
            <div class="modal fade" id="modal-add-rule" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Správa pravidel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate
                                  action="{\Classes\StaticFunctions::getCurrentURL()}/admin/rules"
                                  method="post">
                                <p>Pokud ovlivňuje čas</p>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="m_hour">Počet hodin</label>
                                        <input type="number" min="0" max="48" class="form-control" id="m_hour" name="hour">
                                        <div class="valid-feedback">
                                            Vše vypadá v pořádku
                                        </div>
                                        <div class="invalid-feedback">
                                            Něco je špatně. Prosím vyplňte pole správně
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="m_per">Pro dobu</label>
                                        <select class="custom-select" name="per"  id="m_per">
                                            {foreach Classes\Rules\Manager::PER_DICTIONARY as $id => $per}
                                                <option value="{$id}">
                                                    {$per}
                                                </option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <p>Pokud ovlivňuje počet počítačů</p>
                                <div class="form-group">
                                    <label for="m_number-o-pc">Počet PC</label>
                                    <input type="number" class="form-control" id="m_number-o-pc" name="numberOfPCs" min="2" max="10">
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="m_description">Popis pravidla</label>
                                    <textarea class="form-control" id="m_description" name="description" rows="3"
                                              required></textarea>
                                    <div class="valid-feedback">
                                        Vše vypadá v pořádku
                                    </div>
                                    <div class="invalid-feedback">
                                        Něco je špatně. Prosím vyplňte pole správně
                                    </div>
                                </div>

                                <button class="btn btn-outline-success" type="submit">
                                    Uložit
                                </button>

                                <hr>
                                <div>
                                    <table class="table table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Hodiny</th>
                                                <th>Doba</th>
                                                <th>Počet počítačů</th>
                                                <th>Popis</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr n:foreach="$rules as $rule">
                                                <td class="align-middle">{$rule['hours']}</td>
                                                <td class="align-middle">{Classes\Rules\Manager::PER_DICTIONARY[$rule['per']]}</td>
                                                <td class="align-middle">{$rule['numberOfPCs']}</td>
                                                <td class="align-middle">{$rule['description']}</td>
                                                <td class="align-middle">
                                                    <button type="button" class="btn button-color-blue">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    {/switch}
{/ifset}