<div>
    <div class="row text-center">
        <div class="col-md-4  js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
            <a href="#" class="pointer-none">
                <img alt="noSmoking" src="{\Classes\StaticFunctions::getCurrentURL()}/www/mainAssets/images/no_smoking.png" class="w-200px">
            </a>
        </div>
        <div class="col-md-4 js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
            <a href="#" class="pointer-none">
                <img alt="noDrinking" src="{\Classes\StaticFunctions::getCurrentURL()}/www/mainAssets/images/no_drinking.png" class="w-200px">
            </a>
        </div>
        <div class="col-md-4 js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
            <a href="#" class="pointer-none">
                <img alt="noFood" src="{\Classes\StaticFunctions::getCurrentURL()}/www/mainAssets/images/no_food.png" class="w-200px">
            </a>
        </div>
    </div>
    <div class="clearfix"><br><hr><br></div>
    <div class="row">
        <div class="col-md-12 text-center" id="ruleButtons">
            <button type="button" data-toggle-language="cz" class="btn button-color-blue-out active">
                CZ
            </button>
            <button type="button" data-toggle-language="en" class="btn button-color-blue-out">
                EN
            </button>
        </div>
        <div id="ruleTexts">
            <div class="col-md-12" id="czText">
                <p>
                    V esport učebně je <strong>přísný zákaz konzumace potravin a nápojů. Dále platí zákaz kouření</strong> klasických i elektronických cigaret.
                </p>
                <p>
                    Prostor esport učebny je <strong>trvale monitorován kamerami a každé porušení těchto pokynů bude následně potrestáno zákazem vstupu do esport učebny nebo disciplinárním řízením</strong>.
                </p>
                <p>
                    Na e-sport učebně je <strong>možno rezervovat si nanejvýš 7 hodin týdně celkem</strong>.
                </p>
                <p>
                    Maximální možná <strong>délka jedné rezervace je 6 hodin</strong>.
                </p>
                <br>
                <p>
                    <strong>Registrací termínu potvrzujete seznámení s těmito podmínkami</strong>.
                </p>
            </div>
            <div class="col-md-12 d-none" id="enText">
                <p>
                    There is a <strong>strict ban on food and drink in the esport classroom. Smoking of conventional and electronic cigarettes is also prohibited</strong>.
                </p>
                <p>
                    The esport classroom <strong>area is permanently monitored by cameras and any violation of these guidelines will result in a ban from the esport classroom or disciplinary action</strong>.
                </p>
                <p>
                    The esport classroom you are<strong>able to create reservation at maximum of 7 hours per week</strong>.
                </p>
                <p>
                    The maximum length of <strong>one reservation is 6 hours</strong>.
                </p>
                <br>
                <p>
                    <strong>By registering for the date, you confirm your acceptance of these terms and conditions.</strong>
                </p>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', '[data-toggle-language]', function()
            {
                $('#ruleTexts div').addClass('d-none');
                $('#ruleButtons button').removeClass('active');

                $('#' + $(this).data('toggle-language') + 'Text').removeClass('d-none');
                $(this).addClass('active');
            }
        );
    </script>
</div>