.height100 {
  min-height: 100vh !important;
}
.alert-my {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 10;
  width: 80% !important;
  position: fixed;
  top: 10%;
}
.alert-my.success {
  background-color: #4CAF50;
}
.alert-my.warning {
  background-color: #f44336;
}
.alert-my.danger {
  background-color: #f44336;
}
.a-sub {
  color: #12bbd4 !important;
  font-weight: bold;
  cursor: pointer;
}
.margin-left-little {
  margin-left: 10px;
}
.margin-right-little {
  margin-right: 10px;
}
.login {
  background: url("/www/admin/assets/images/my/wallpaper_1.jpg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white !important;
}
.login .login-body {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
.login p {
  color: white !important;
}
.form-between-space {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.form-between-space h2,
.form-between-space h1 {
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.form-between-space h2 span,
.form-between-space h1 span {
  background: #fff;
  padding: 0 10px;
}
ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}
ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}
ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all 0.2s;
}
ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}
.helper-middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.imageEdit {
  width: 25%;
  height: 25%;
}
.profile-img-layout-admin {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50em;
}
.loader {
  background-color: white;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.loader img {
  position: relative;
  top: 40vh;
  left: 45vw;
}
.hidden {
  display: none;
}
.noHover {
  pointer-events: none;
}
.text-bold {
  font-weight: bold;
}
.games-list ul,
.games-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.games-list ul {
  margin: 2em 0;
}
.games-list li {
  margin: 1em;
  margin-left: 3em;
}
.games-list li:before {
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
#pageMessages {
  position: fixed;
  top: 70px;
  right: 15px;
  width: 30%;
  z-index: 1051;
}
.alertMessage {
  padding: 10px;
  position: relative;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.alertMessage .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}
.alertMessage .fa {
  margin-right: 0.3em;
}
.sticky-head {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */