{varType string $reason}

<html lang="en/cz">
    <head>
        <title>Email</title>
        <style>
            .btn {
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }

            .button-color-out{
                color: #00AFF0;
                border-color:#00AFF0;
                font-size: 15px;
                cursor: pointer;
            }

            .button-color-out.active,
            .button-color-out:hover{
                color:#fff !important;
                background-color:#00AFF0 !important;
                border-color:#00AFF0 !important
            }
        </style>
    </head>
    <body>
        <small>
            <strong>
                V případě problému / In case of problem: <!--a href="m.me/denniel.vondra" target="_blank">Messanger</a--> <a href="mailto:daniel.vondra@uhk.cz">Email Admin</a>
            </strong>
        </small>
        <br>
        <hr>
        <hr>
        <br>
{*        <div>*}
{*            <button class="btn button-color-out active" id="cz-button">CZ</button>*}
{*            <button class="btn button-color-out" id="en-button">EN</button>*}
{*        </div>*}
        <div id="cz">
            {include bodyCZ}
        </div>
        <br>
        <hr>
        <hr>
        <br>
        <div id="en">
            {include bodyEN}
        </div>
{*        <script>*}
{*            var czB = document.getElementById('cz-button');*}
{*            var czD = document.getElementById('cz');*}
{*            var enB = document.getElementById('en-button');*}
{*            var enD = document.getElementById('en');*}

{*            enD.style.display = 'none';*}

{*            czB.addEventListener('click', function()*}
{*                {*}
{*                    czB.classList.add('active');*}
{*                    enB.classList.remove('active');*}
{*                    czD.style.display = 'block';*}
{*                    enD.style.display = 'none';*}
{*                }*}
{*            );*}

{*            enB.addEventListener('click', function()*}
{*                {*}
{*                    czB.classList.remove('active');*}
{*                    enB.classList.add('active');*}
{*                    czD.style.display = 'none';*}
{*                    enD.style.display = 'block';*}
{*                }*}
{*            );*}
{*        </script>*}
    </body>
</html>