{varType string $whenFrom}
{varType string $whenTo}
{varType string $password}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>Váš požadavek na rezervaci celé esport učebny byl schválen.</p>
    <p>Informace k Vašemu požadavku:</p>
    <p>Od: {$whenFrom} do {$whenTo}.</p>
    <p>Heslo k počítačům 1-10: {$password}</p>
    <p>S pozdravem a přáním hezkého dne,</p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>Your request to reserve the entire esport classroom was approved.</p>
    <p>Information for your request:</p>
    <p>From: {$whenFrom} to {$whenTo}.</p>
    <p>Password for computers 1-10: {$password}</p>
    <p>Best regards,</p>
    <p>Your esport support team</p>
{/block}