{varType string $whenFrom}
{varType string $whenTo}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>Váš požadavek na rezervaci celé esport učebny byl přijat a zařazen do fronty zpracování, o dalším vývoji Vás budeme kontaktovat.</p>
    <p>Informace k Vašemu požadavku:</p>
    <p>Od: {$whenFrom} do {$whenTo}.</p>
    <p>S pozdravem a přáním hezkého dne,</p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>Your request to reserve the entire esport classroom has been accepted and placed in the processing queue, we will contact you about further developments.</p>
    <p>Information for your request:</p>
    <p>From: {$whenFrom} to {$whenTo}.</p>
    <p>Best regards,</p>
    <p>Your esport support team</p>
{/block}