{varType String $timeFrom}
{varType String $timeTo}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>Vaše žádost na rezervaci celé žádosti v termínu od {$timeFrom} do {$timeTo} byla přijata do našeho systému.</p>
    <p>Naši kolegové se jejímu zpracování budou věnocat co nejdžíve.</p>
    <p>Prosím vyčkejte na další informace o jejím zpracování</p>
    <br>
    <p>S pozdravem a přáním hezkého dne,<br></p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>Your request to book whole classroom in timeline from {$timeFrom} to {$timeTo} was accepted in our system</p>
    <p>Our colleagues will try to process it as fast as possible</p>
    <p>Pleas wait for new information from our team.</p>
    <br>
    <p>Best regards and have a nice day,</p>
    <p>Your esport support team</p>
{/block}