{varType string $reason}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>z důvodu porušení pravidel chování v esportové učebně Vám byl <strong>dočasně zablokován přístup</strong> do rezervačního systému.</p>
    <p>Podrobný důvod:</p>
    {$reason}
    <br>
    <p>S pozdravem,</p>
    <p>IMIT FIM</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>due to reason that you have broken the rules of esport classroom, you <strong>can no longer create</strong> reservations.</p>
    <p>Specific reason:</p>
    {$reason}
    <br>
    <p>Best regards,</p>
    <p>IMIT FIM</p>
{/block}