{varType string $whenFrom}
{varType string $whenTo}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>omlouváme se, ale Váše rezervace byla zrušena na základě konání školní události/úpravy softwarového vybavení učebny.</p>
    <p>Založte si prosím novou rezervaci s novým datumem.</p>
    <p>Informace o zrušené rezervace:</p>
    <p>Od: {$whenFrom} td {$whenTo}.</p>
    <p>S pozdravem a přáním hezkého dne,</p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>We are sorry but your reservation was canceled due to school event/modification of classroom software equipment.</p>
    <p>Feel free to create new reservation with different date.</p>
    <p>Information for your request:</p>
    <p>From: {$whenFrom} to {$whenTo}.</p>
    <p>Best regards,</p>
    <p>Your esport support team</p>
{/block}