{varType string $whenFrom}
{varType string $whenTo}
{varType string $password}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>Váš požadavek na rezervaci celé esport učebny v období {$whenFrom} do {$whenTo} byl bohužel zamítnut.</p>
    <p>Pro více informací můžete kontaktovat <a href="mailto:daniel.vondra@uhk.cz">daniel.vondra@uhk.cz</a> </p>
    <p>S pozdravem a přáním hezkého dne,</p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>Your request to reserve the entire esport classroom at {$whenFrom} to {$whenTo} was unfortunately denied.</p>
    <p>For more info contact <a href="mailto:daniel.vondra@uhk.cz">daniel.vondra@uhk.cz</a></p>
    <p>Best regards,</p>
    <p>Your esport support team</p>
{/block}