{varType string $email}
{varType string $encoded}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>zaznamenali jsme Vaši žádost o změnu hesla k účtu spojeném s rezervačním systémem do esport učebny <strong>{$email}</strong>, prosíme klikněte na link uvedený níže. Pokud jste o změnu hesla nežádali Vy, tento email ignorujte.</p>
    <a href="https://imitweby.uhk.cz/esport/user/forgottenPassword?email={$encoded}">Link pro obnovu hesla</a>
    <br>
    <p>S pozdravem,</p>
    <p>IMIT FIM</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>if you requested password renewal connectad with this email <strong>{$email}</strong>, please use link below. In opposite case do not renew your password and ignore this email.</p>
    <a href="https://imitweby.uhk.cz/esport/user/forgottenPassword?email={$encoded}">Link for password renewal</a>
    <br>
    <p>Best regards,</p>
    <p>IMIT FIM</p>
{/block}