{varType string $whenFrom}
{varType string $whenTo}
{varType string $reason}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>omlouváme se, ale Váš požadavek na rezervaci celé esport učebny byl zamítnut.</p>
    <p>Důvod:</p>
    {$reason}
    <br />
    <p>Informace k Vašemu požadavku:</p>
    <p>Od: {$whenFrom} do {$whenTo}.</p>
    <p>S pozdravem a přáním hezkého dne,</p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>We are sorry but your request to reserve entire esport classroom was rejected.</p>
    <p>Reason:</p>
    {$reason}
    <br>
    <p>Information for your request:</p>
    <p>From: {$whenFrom} to {$whenTo}.</p>
    <p>Best regards,</p>
    <p>Your esport support team</p>
{/block}