{varType int $pc}
{varType int $id}
{varType String $user}
{varType String $key}
{varType String $timeFrom}
{varType String $timeTo}

{extends @layout.latte}

{block bodyCZ}
    <p>Dobrý den,</p>
    <p>děkujeme, Vaše rezervace proběhla úspěšně.</p>
    <p>Přihlaste se na <strong>počítač číslo {$pc}</strong> s uživatelským účtem <strong>{$user}</strong> a heslem <strong>{$key}</strong>.</p>
    <p>Registrace je platná 5 minut před začátkem rezervovaného času: <strong>{$timeFrom}</strong>.</p>
    <p>Platnost vaší rezervace vyprší 5 minut před koncem rezervovaného času: <strong>{$timeTo}</strong></p>
{*    {if $id}*}
{*        <p>Pro smazání rezervace klikněte zde:</p>*}
{*        <a href="https://imitweby.uhk.cz/esport/reservation/deleteMyReservation?id={$id}">*}
{*            <h2>Smazání rezervace (delete)</h2>*}
{*        </a>*}
{*    {else}*}
{*        <p>Pro smazání rezervace se prosím obraťte na administrátory:</p>*}
{*        <a href="mailto:vondrda3@uhk.cz">vondrda3@uhk.cz</a>*}
{*    {/if}*}
    <br>
    <p>S pozdravem a přáním hezkého dne,<br></p>
    <p>Váš podpůrný tým esportu</p>
{/block}

{block bodyEN}
    <p>Hello,</p>
    <p>Thank you, your reservation was successful.</p>
    <p>Please log in to <strong>computer number {$pc}</strong> with the user account <strong>{$user}</strong> and password <strong>{$key}</strong>.</p>
    <p>Registration is valid 5 minutes before the start of the booked time: <strong>{$timeFrom}</strong>.</p>
    <p>Your reservation will expire 5 minutes before the end of the reserved time: <strong>{$timeTo}</strong></p>
{*    {if $id}*}
{*        <p>For reservation delete click here:</p>*}
{*        <a href="https://imitweby.uhk.cz/esport/reservation/deleteMyReservation?id={$id}">*}
{*            <h2>Reservation delete</h2>*}
{*        </a>*}
{*    {else}*}
{*        <p>For reservation delete contact administrators:</p>*}
{*        <a href="mailto:vondrda3@uhk.cz">vondrda3@uhk.cz</a>*}
{*    {/if}*}
    <br>
    <p>Best regards and have a nice day,</p>
    <p>Your esport support team</p>
{/block}