<html lang="cz">
    <head>
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/fonts/font-awesome-6/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{\Classes\StaticFunctions::getCurrentURL()}/www/maintenance/style.css">
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/jquery-3.2.1.min.js"></script>
        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/sharedAssets/js/bootstrap/bootstrap.min.js"></script>
        <title>Maintenance</title>
    </head>
    <body>
        <div class="main">
            <div class="sub">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text">
                            <a href="{\Classes\StaticFunctions::getCurrentURL()}/" class="">
                                <h1 class="fa fa-screwdriver-wrench fa-10x" data-tilt></h1>
                            </a>
                        </div>
                        <div class="col-md-6 text">
                            <h1>Omlouváme se,</h1>
                            <h2>tato stránka je dočasně nedostupná.</h2>
                            <h2>Pracujeme na jejím zprovoznění.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{\Classes\StaticFunctions::getCurrentURL()}/www/loginAssets/js/tilt.jquery.min.js"></script>
    </body>
</html>