.main {
  background-image: url("wallpaper-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .sub {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .sub .text {
  text-align: center;
  margin-top: 20vw;
  color: white;
}
.main .sub .icon {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */