{varType array $usersAdd}

<form >
    <div class="form-group">
        <label for="m_newMember">Členové</label>
        <select id="m_newMember" name="newMember[]" required  multiple data-placeholder="Vyberte dalšího člena týmu" >
            <option></option>
            <option n:foreach="$usersAdd as $userData" value="{$userData['id']}">
                {$userData['firstName']} {$userData['secondName']} <span class="hidden">({$userData['email']}, {$userData['userName']})</span>
            </option>
        </select>
        <div class="valid-feedback">
            Vše vypadá v pořádku
        </div>
        <div class="invalid-feedback">
            Něco je špatně. Prosím vyplňte pole správně
        </div>
    </div>
    <script>
        $(function()
        {
            $('#m_newMember').select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
                templateSelection: function (data) {
                    if (!data.id) {
                        return data.text;
                    }
                    let value = data.text.trim();
                    let split = value.split('(');

                    return split[0];
                },
                dropdownParent: $('#modal-addTeamMember')
            });
        });
    </script>

    <button class="btn btn-outline-success" type="button" data-add-member-to-team>
        Uložit
    </button>
</form>