{varType array $userData}
{varType int $activeMenu}
{varType int $askNumber}
{varType int $toConfirm}
{varType int $blacklisted}

<div class="sidebar-menu-inner">
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li n:class="$activeMenu == \Classes\DefaultClass::M_HOME ? active">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/">
                <i class="fa fa-home"></i> <span>Domů</span>
            </a>

            {if !empty($toConfirm) && $toConfirm > 0 }
                <span class="badge badge-pill badge-info badge-top">{$toConfirm}</span>
            {/if}
        </li>
        <li n:class="'hidden', $activeMenu == \Classes\DefaultClass::M_TEAM ? active">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/team">
                <i class="fa fa-people-group"></i> <span>Team</span>
            </a>
        </li>
        <li {if $activeMenu == \Classes\DefaultClass::M_DASHBOARD}class="active"{/if}>
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/dashboard">
                <i class="fa fa-chart-pie"></i> <span>Dashboard</span>
            </a>
        </li>
        <li {if $activeMenu == \Classes\DefaultClass::M_BLACK_LIST}class="active"{/if}
            n:if="in_array($userData['permission'], [Classes\Login\Manager::ADMIN, Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/blackList">
                <i class="fa fa-shield"></i> <span>Černá listina</span>
            </a>
            {if !empty($blacklisted) && $blacklisted > 0 }
                <span class="badge badge-pill badge-dark badge-top">{$blacklisted}</span>
            {/if}
        </li>
        <li n:class="$activeMenu == \Classes\DefaultClass::M_COMPUTERS ? active"
            n:if="in_array($userData['permission'], [Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/computers">
                <i class="fa fa-desktop"></i> <span>Počítače</span>
            </a>
        </li>
        <li n:class="'menu-list', $activeMenu == \Classes\DefaultClass::M_USER ? active"
            n:if="in_array($userData['permission'], [Classes\Login\Manager::GOD])">
            <a href="#">
                <i class="fa fa-user"></i> <span>Uživatelé</span>
            </a>
            <ul class="sub-menu-list">
                <li><a href="{\Classes\StaticFunctions::getCurrentURL()}/user/addUser">Přidání</a> </li>
                <li><a href="{\Classes\StaticFunctions::getCurrentURL()}/user/editUser">Správa</a> </li>
            </ul>
        </li>
        <li {if $activeMenu == \Classes\DefaultClass::M_INFORMATION}class="active"{/if}
            n:if="in_array($userData['permission'], [Classes\Login\Manager::ADMIN, Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/information">
                <i class="fa fa-info"></i> <span>Informace na stránce</span>
            </a>
        </li>
        <li {if $activeMenu == \Classes\DefaultClass::M_GAMES}class="active"{/if}
            n:if="in_array($userData['permission'], [Classes\Login\Manager::ADMIN, Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/games">
                <i class="fa fa-chess"></i> <span>Hry na PC</span>
            </a>
        </li>
        <li {if $activeMenu == \Classes\DefaultClass::M_RESERVATION_ASK}class="active"{/if}
            n:if="in_array($userData['permission'], [Classes\Login\Manager::ADMIN, Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/reservationAsk">
                <i class="fa fa-envelope"></i> <span>Žádosti o rezervace</span>
            </a>
            {if !empty($askNumber) && $askNumber > 0 }
                <span class="badge badge-pill badge-info badge-top">{$askNumber}</span>
            {/if}
        </li>
        <li n:class="$activeMenu == Classes\DefaultClass::M_CRON ? 'active'"
            n:if="in_array($userData['permission'], [Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/cronLog">
                <i class="fa fa-repeat"></i> <span>Cron</span>
            </a>
        </li>
        <li n:class="$activeMenu == Classes\DefaultClass::M_RULES ? 'active'"
            n:if="in_array($userData['permission'], [Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/rules">
                <i class="fa fa-scale-balanced"></i> <span>Pravidla</span>
            </a>
        </li>
        <li n:class="$activeMenu == Classes\DefaultClass::M_CALENDAR ? 'active'"
            n:if="in_array($userData['permission'], [Classes\Login\Manager::GOD])">
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/admin/calendar">
                <i class="fa fa-calendar-days"></i> <span>Kalendář</span>
            </a>
        </li>
        <li>
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/">
                <i class="fa fa-pager"></i> <span>Zpět na stránky</span>
            </a>
        </li>
        <li>
            <a href="{\Classes\StaticFunctions::getCurrentURL()}/user/logout">
                <i class="fa fa-arrow-left"></i> <span>Odhlásit se</span>
            </a>
        </li>
    </ul>
    <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Skrýt menu</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
    </a>
</div>